<html>
 <head><title>Demo: Mathematica Graphics via Applet Parameter</title></head>
 <body>
 <h2>Demo: Mathematica Graphics via Applet Parameter</h2>
 <P>
 This Html page contains a demonstration applet which uses an applet
 parameter to pass a Mathematica graphics objects to
 <EM><FONT color=#004080>JavaView</FONT></EM> for display</P>
 <p>
 <APPLET code=javaview.class name="Parameter Demo"
 codebase="../../"
 archive="jars/javaview.jar,jars/jvx.jar"
 height=300 width=400>
 <PARAM NAME=control VALUE=Hide>
 <PARAM NAME=panel VALUE=Material>
 <PARAM NAME=language VALUE=en>
 <PARAM NAME=menu-new-project VALUE=disable>
 <PARAM NAME=mathematica VALUE="
SurfaceGraphics[{{0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0},
 {0, 0.050333846793909, 0.10054009211088698, 0.15049145795686686, 0.20006131248344713, 0.2491239910126479, 0.2975551146097903, 0.34523190539688425, 0.39203349780717367, 0.43784124499177524, 0.4825390196016394, 0.5260135081823206, 0.5681544984352354, 0.6088551586171704, 0.6480123083697371},
 {0, 0.10054009211088698, 0.20006131248344713, 0.2975551146097903, 0.39203349780717367, 0.4825390196016394, 0.5681544984352354, 0.6480123083697371, 0.7213031715944859, 0.7872843596352039, 0.8452872201528643, 0.8947239530561524, 0.9350935672584995, 0.9659869577140041, 0.9870910512816404},
 {0, 0.15049145795686686, 0.2975551146097903, 0.43784124499177524, 0.5681544984352354, 0.6855266802921883, 0.7872843596352039, 0.8711097630127271, 0.9350935672584995, 0.9777783888731344, 0.9981919794036259, 0.9958693707169742, 0.9708634657565939, 0.923743833551805, 0.855583735926938},
 {0, 0.20006131248344713, 0.39203349780717367, 0.5681544984352354, 0.7213031715944859, 0.8452872201528643, 0.9350935672584995, 0.9870910512816404, 0.9991772454460783, 0.9708634657565939, 0.9032945300764584, 0.7992024694314548, 0.6627960631423941, 0.4995906642386843, 0.3161851958629202},
 {0, 0.2491239910126479, 0.4825390196016394, 0.6855266802921883, 0.8452872201528643, 0.9517466502946286, 0.9981919794036259, 0.9816945135119978, 0.9032945300764584, 0.7679356814076422, 0.5841532637602562, 0.3635360088386058, 0.1199953354245082, -0.13111186021627472, -0.37395156111654226},
 {0, 0.2975551146097903, 0.5681544984352354, 0.7872843596352039, 0.9350935672584995, 0.9981919794036259, 0.9708634657565939, 0.855583735926938, 0.6627960631423941, 0.40996522065324104, 0.1199953354245082, -0.18084501311762455, -0.4653024824957315, -0.7076078669806226, -0.8858105483806488},
 {0, 0.34523190539688425, 0.6480123083697371, 0.8711097630127271, 0.9870910512816404, 0.9816945135119978, 0.855583735926938, 0.6242659526396992, 0.3161851958629202, -0.03077532955281697, -0.37395156111654226, -0.6711447727013949, -0.8858105483806488, -0.9915524730080026, -0.9753679720836315},
 {0, 0.39203349780717367, 0.7213031715944859, 0.9350935672584995, 0.9991772454460783, 0.9032945300764584, 0.6627960631423941, 0.3161851958629202, -0.08104632526840068, -0.4653024824957315, -0.7750645893658366, -0.9607403164671633, -0.992603329887604, -0.8655524212399951, -0.5999282015091771},
 {0, 0.43784124499177524, 0.7872843596352039, 0.9777783888731344, 0.9708634657565939, 0.7679356814076422, 0.40996522065324104, -0.03077532955281697, -0.4653024824957315, -0.8058872077447004, -0.9837670182531237, -0.9630287997232423, -0.7478595029409092, -0.3817008177000672, 0.06152150424260007},
 {0, 0.4825390196016394, 0.8452872201528643, 0.9981919794036259, 0.9032945300764584, 0.5841532637602562, 0.1199953354245082, -0.37395156111654226, -0.7750645893658366, -0.9837670182531237, -0.9482482503372716, -0.6773258571046524, -0.23825660757516184, 0.2599600953336725, 0.6936414312038927},
 {0, 0.5260135081823206, 0.8947239530561524, 0.9958693707169742, 0.7992024694314548, 0.3635360088386058, -0.18084501311762455, -0.6711447727013949, -0.9607403164671633, -0.9630287997232423, -0.6773258571046524, -0.189070260374982, 0.35572633896181094, 0.79414383976258, 0.9950745521842932},
 {0, 0.5681544984352354, 0.9350935672584995, 0.9708634657565939, 0.6627960631423941, 0.1199953354245082, -0.4653024824957315, -0.8858105483806488, -0.992603329887604, -0.7478595029409092, -0.23825660757516184, 0.35572633896181094, 0.8237266024158761, 0.9999989949397533, 0.8221155584901513},
 {0, 0.6088551586171704, 0.9659869577140041, 0.923743833551805, 0.4995906642386843, -0.13111186021627472, -0.7076078669806226, -0.9915524730080026, -0.8655524212399951, -0.3817008177000672, 0.2599600953336725, 0.79414383976258, 0.9999989949397533, 0.7924173861172459, 0.2572209681687196},
 {0, 0.6480123083697371, 0.9870910512816404, 0.855583735926938, 0.3161851958629202, -0.37395156111654226, -0.8858105483806488, -0.9753679720836315, -0.5999282015091771, 0.06152150424260007, 0.6936414312038927, 0.9950745521842932, 0.8221155584901513, 0.2572209681687196, -0.4303012170000917}},
 {PlotRange -> Automatic, DisplayFunction :> $DisplayFunction, ColorOutput -> Automatic, Axes -> True, PlotLabel -> None, AxesLabel -> None, Ticks -> Automatic, Prolog -> {},
 Epilog -> {},
 AxesStyle -> Automatic, Background -> Automatic, DefaultColor -> Automatic, DefaultFont :> $DefaultFont, AspectRatio -> Automatic, ViewPoint -> {1.3, -2.4, 2.},
 Boxed -> True, BoxRatios -> {1, 1, 0.4},
 Plot3Matrix -> Automatic, Lighting -> True, AmbientLight -> GrayLevel[0], LightSources -> {{{1., 0, 1.},
 RGBColor[1, 0, 0]},
 {{1., 1., 1.},
 RGBColor[0, 1, 0]},
 {{0, 1., 1.},
 RGBColor[0, 0, 1]}},
 ViewCenter -> Automatic, PlotRegion -> Automatic, ImageSize -> Automatic, TextStyle :> $TextStyle, FormatType :> $FormatType, ViewVertical -> {0, 0, 1.},
 FaceGrids -> None, Shading -> True, HiddenSurface -> True, Mesh -> True, ClipFill -> Automatic, AxesEdge -> Automatic, MeshStyle -> Automatic, BoxStyle -> Automatic, ColorFunction -> Automatic, ColorFunctionScaling -> True, SphericalRegion -> False, MeshRange -> {{0, 3.141592653589793},
 {0, 3.141592653589793}}}]"
</APPLET>
</p>
</body>
</html>