<html>
 <head><title>Demo: Mathematica Graphics via Applet Parameter</title></head>
 <body>
 <h2>Demo: Mathematica Graphics via Applet Parameter</h2>
 <P>
 This Html page contains a demonstration applet which uses an applet
 parameter to pass a Mathematica graphics objects to
 <EM><FONT color=#004080>JavaView</FONT></EM> for display</P>
 <p>
 <APPLET code=javaview.class name="Parameter Demo"
 codebase="../../"
 archive="jars/javaview.jar,jars/jvx.jar"
 height=300 width=400>
 <PARAM NAME=control VALUE=Hide>
 <PARAM NAME=panel VALUE=Material>
 <PARAM NAME=language VALUE=en>
 <PARAM NAME=menu-new-project VALUE=disable>
 <PARAM NAME=mathematica VALUE="
Graphics[{{},
 {{Thickness[0.001], Line[{{-10800, -5400},
 {-10800, -5184},
 {-10800, -4968},
 {-10800, -4752},
 {-10800, -4536},
 {-10800, -4320},
 {-10800, -4104},
 {-10800, -3888},
 {-10800, -3672},
 {-10800, -3456},
 {-10800, -3240},
 {-10800, -3024},
 {-10800, -2808},
 {-10800, -2592},
 {-10800, -2376},
 {-10800, -2160},
 {-10800, -1944},
 {-10800, -1728},
 {-10800, -1512},
 {-10800, -1296},
 {-10800, -1080},
 {-10800, -864},
 {-10800, -648},
 {-10800, -432},
 {-10800, -216},
 {-10800, 0},
 {-10800, 216},
 {-10800, 432},
 {-10800, 648},
 {-10800, 864},
 {-10800, 1080},
 {-10800, 1296},
 {-10800, 1512},
 {-10800, 1728},
 {-10800, 1944},
 {-10800, 2160},
 {-10800, 2376},
 {-10800, 2592},
 {-10800, 2808},
 {-10800, 3024},
 {-10800, 3240},
 {-10800, 3456},
 {-10800, 3672},
 {-10800, 3888},
 {-10800, 4104},
 {-10800, 4320},
 {-10800, 4536},
 {-10800, 4752},
 {-10800, 4968},
 {-10800, 5184},
 {-10800, 5400},
 {-10800, 5400}}], Line[{{-9000, -5400},
 {-9000, -5184},
 {-9000, -4968},
 {-9000, -4752},
 {-9000, -4536},
 {-9000, -4320},
 {-9000, -4104},
 {-9000, -3888},
 {-9000, -3672},
 {-9000, -3456},
 {-9000, -3240},
 {-9000, -3024},
 {-9000, -2808},
 {-9000, -2592},
 {-9000, -2376},
 {-9000, -2160},
 {-9000, -1944},
 {-9000, -1728},
 {-9000, -1512},
 {-9000, -1296},
 {-9000, -1080},
 {-9000, -864},
 {-9000, -648},
 {-9000, -432},
 {-9000, -216},
 {-9000, 0},
 {-9000, 216},
 {-9000, 432},
 {-9000, 648},
 {-9000, 864},
 {-9000, 1080},
 {-9000, 1296},
 {-9000, 1512},
 {-9000, 1728},
 {-9000, 1944},
 {-9000, 2160},
 {-9000, 2376},
 {-9000, 2592},
 {-9000, 2808},
 {-9000, 3024},
 {-9000, 3240},
 {-9000, 3456},
 {-9000, 3672},
 {-9000, 3888},
 {-9000, 4104},
 {-9000, 4320},
 {-9000, 4536},
 {-9000, 4752},
 {-9000, 4968},
 {-9000, 5184},
 {-9000, 5400},
 {-9000, 5400}}], Line[{{-7200, -5400},
 {-7200, -5184},
 {-7200, -4968},
 {-7200, -4752},
 {-7200, -4536},
 {-7200, -4320},
 {-7200, -4104},
 {-7200, -3888},
 {-7200, -3672},
 {-7200, -3456},
 {-7200, -3240},
 {-7200, -3024},
 {-7200, -2808},
 {-7200, -2592},
 {-7200, -2376},
 {-7200, -2160},
 {-7200, -1944},
 {-7200, -1728},
 {-7200, -1512},
 {-7200, -1296},
 {-7200, -1080},
 {-7200, -864},
 {-7200, -648},
 {-7200, -432},
 {-7200, -216},
 {-7200, 0},
 {-7200, 216},
 {-7200, 432},
 {-7200, 648},
 {-7200, 864},
 {-7200, 1080},
 {-7200, 1296},
 {-7200, 1512},
 {-7200, 1728},
 {-7200, 1944},
 {-7200, 2160},
 {-7200, 2376},
 {-7200, 2592},
 {-7200, 2808},
 {-7200, 3024},
 {-7200, 3240},
 {-7200, 3456},
 {-7200, 3672},
 {-7200, 3888},
 {-7200, 4104},
 {-7200, 4320},
 {-7200, 4536},
 {-7200, 4752},
 {-7200, 4968},
 {-7200, 5184},
 {-7200, 5400},
 {-7200, 5400}}], Line[{{-5400, -5400},
 {-5400, -5184},
 {-5400, -4968},
 {-5400, -4752},
 {-5400, -4536},
 {-5400, -4320},
 {-5400, -4104},
 {-5400, -3888},
 {-5400, -3672},
 {-5400, -3456},
 {-5400, -3240},
 {-5400, -3024},
 {-5400, -2808},
 {-5400, -2592},
 {-5400, -2376},
 {-5400, -2160},
 {-5400, -1944},
 {-5400, -1728},
 {-5400, -1512},
 {-5400, -1296},
 {-5400, -1080},
 {-5400, -864},
 {-5400, -648},
 {-5400, -432},
 {-5400, -216},
 {-5400, 0},
 {-5400, 216},
 {-5400, 432},
 {-5400, 648},
 {-5400, 864},
 {-5400, 1080},
 {-5400, 1296},
 {-5400, 1512},
 {-5400, 1728},
 {-5400, 1944},
 {-5400, 2160},
 {-5400, 2376},
 {-5400, 2592},
 {-5400, 2808},
 {-5400, 3024},
 {-5400, 3240},
 {-5400, 3456},
 {-5400, 3672},
 {-5400, 3888},
 {-5400, 4104},
 {-5400, 4320},
 {-5400, 4536},
 {-5400, 4752},
 {-5400, 4968},
 {-5400, 5184},
 {-5400, 5400},
 {-5400, 5400}}], Line[{{-3600, -5400},
 {-3600, -5184},
 {-3600, -4968},
 {-3600, -4752},
 {-3600, -4536},
 {-3600, -4320},
 {-3600, -4104},
 {-3600, -3888},
 {-3600, -3672},
 {-3600, -3456},
 {-3600, -3240},
 {-3600, -3024},
 {-3600, -2808},
 {-3600, -2592},
 {-3600, -2376},
 {-3600, -2160},
 {-3600, -1944},
 {-3600, -1728},
 {-3600, -1512},
 {-3600, -1296},
 {-3600, -1080},
 {-3600, -864},
 {-3600, -648},
 {-3600, -432},
 {-3600, -216},
 {-3600, 0},
 {-3600, 216},
 {-3600, 432},
 {-3600, 648},
 {-3600, 864},
 {-3600, 1080},
 {-3600, 1296},
 {-3600, 1512},
 {-3600, 1728},
 {-3600, 1944},
 {-3600, 2160},
 {-3600, 2376},
 {-3600, 2592},
 {-3600, 2808},
 {-3600, 3024},
 {-3600, 3240},
 {-3600, 3456},
 {-3600, 3672},
 {-3600, 3888},
 {-3600, 4104},
 {-3600, 4320},
 {-3600, 4536},
 {-3600, 4752},
 {-3600, 4968},
 {-3600, 5184},
 {-3600, 5400},
 {-3600, 5400}}], Line[{{-1800, -5400},
 {-1800, -5184},
 {-1800, -4968},
 {-1800, -4752},
 {-1800, -4536},
 {-1800, -4320},
 {-1800, -4104},
 {-1800, -3888},
 {-1800, -3672},
 {-1800, -3456},
 {-1800, -3240},
 {-1800, -3024},
 {-1800, -2808},
 {-1800, -2592},
 {-1800, -2376},
 {-1800, -2160},
 {-1800, -1944},
 {-1800, -1728},
 {-1800, -1512},
 {-1800, -1296},
 {-1800, -1080},
 {-1800, -864},
 {-1800, -648},
 {-1800, -432},
 {-1800, -216},
 {-1800, 0},
 {-1800, 216},
 {-1800, 432},
 {-1800, 648},
 {-1800, 864},
 {-1800, 1080},
 {-1800, 1296},
 {-1800, 1512},
 {-1800, 1728},
 {-1800, 1944},
 {-1800, 2160},
 {-1800, 2376},
 {-1800, 2592},
 {-1800, 2808},
 {-1800, 3024},
 {-1800, 3240},
 {-1800, 3456},
 {-1800, 3672},
 {-1800, 3888},
 {-1800, 4104},
 {-1800, 4320},
 {-1800, 4536},
 {-1800, 4752},
 {-1800, 4968},
 {-1800, 5184},
 {-1800, 5400},
 {-1800, 5400}}], Line[{{0, -5400},
 {0, -5184},
 {0, -4968},
 {0, -4752},
 {0, -4536},
 {0, -4320},
 {0, -4104},
 {0, -3888},
 {0, -3672},
 {0, -3456},
 {0, -3240},
 {0, -3024},
 {0, -2808},
 {0, -2592},
 {0, -2376},
 {0, -2160},
 {0, -1944},
 {0, -1728},
 {0, -1512},
 {0, -1296},
 {0, -1080},
 {0, -864},
 {0, -648},
 {0, -432},
 {0, -216},
 {0, 0},
 {0, 216},
 {0, 432},
 {0, 648},
 {0, 864},
 {0, 1080},
 {0, 1296},
 {0, 1512},
 {0, 1728},
 {0, 1944},
 {0, 2160},
 {0, 2376},
 {0, 2592},
 {0, 2808},
 {0, 3024},
 {0, 3240},
 {0, 3456},
 {0, 3672},
 {0, 3888},
 {0, 4104},
 {0, 4320},
 {0, 4536},
 {0, 4752},
 {0, 4968},
 {0, 5184},
 {0, 5400},
 {0, 5400}}], Line[{{1800, -5400},
 {1800, -5184},
 {1800, -4968},
 {1800, -4752},
 {1800, -4536},
 {1800, -4320},
 {1800, -4104},
 {1800, -3888},
 {1800, -3672},
 {1800, -3456},
 {1800, -3240},
 {1800, -3024},
 {1800, -2808},
 {1800, -2592},
 {1800, -2376},
 {1800, -2160},
 {1800, -1944},
 {1800, -1728},
 {1800, -1512},
 {1800, -1296},
 {1800, -1080},
 {1800, -864},
 {1800, -648},
 {1800, -432},
 {1800, -216},
 {1800, 0},
 {1800, 216},
 {1800, 432},
 {1800, 648},
 {1800, 864},
 {1800, 1080},
 {1800, 1296},
 {1800, 1512},
 {1800, 1728},
 {1800, 1944},
 {1800, 2160},
 {1800, 2376},
 {1800, 2592},
 {1800, 2808},
 {1800, 3024},
 {1800, 3240},
 {1800, 3456},
 {1800, 3672},
 {1800, 3888},
 {1800, 4104},
 {1800, 4320},
 {1800, 4536},
 {1800, 4752},
 {1800, 4968},
 {1800, 5184},
 {1800, 5400},
 {1800, 5400}}], Line[{{3600, -5400},
 {3600, -5184},
 {3600, -4968},
 {3600, -4752},
 {3600, -4536},
 {3600, -4320},
 {3600, -4104},
 {3600, -3888},
 {3600, -3672},
 {3600, -3456},
 {3600, -3240},
 {3600, -3024},
 {3600, -2808},
 {3600, -2592},
 {3600, -2376},
 {3600, -2160},
 {3600, -1944},
 {3600, -1728},
 {3600, -1512},
 {3600, -1296},
 {3600, -1080},
 {3600, -864},
 {3600, -648},
 {3600, -432},
 {3600, -216},
 {3600, 0},
 {3600, 216},
 {3600, 432},
 {3600, 648},
 {3600, 864},
 {3600, 1080},
 {3600, 1296},
 {3600, 1512},
 {3600, 1728},
 {3600, 1944},
 {3600, 2160},
 {3600, 2376},
 {3600, 2592},
 {3600, 2808},
 {3600, 3024},
 {3600, 3240},
 {3600, 3456},
 {3600, 3672},
 {3600, 3888},
 {3600, 4104},
 {3600, 4320},
 {3600, 4536},
 {3600, 4752},
 {3600, 4968},
 {3600, 5184},
 {3600, 5400},
 {3600, 5400}}], Line[{{5400, -5400},
 {5400, -5184},
 {5400, -4968},
 {5400, -4752},
 {5400, -4536},
 {5400, -4320},
 {5400, -4104},
 {5400, -3888},
 {5400, -3672},
 {5400, -3456},
 {5400, -3240},
 {5400, -3024},
 {5400, -2808},
 {5400, -2592},
 {5400, -2376},
 {5400, -2160},
 {5400, -1944},
 {5400, -1728},
 {5400, -1512},
 {5400, -1296},
 {5400, -1080},
 {5400, -864},
 {5400, -648},
 {5400, -432},
 {5400, -216},
 {5400, 0},
 {5400, 216},
 {5400, 432},
 {5400, 648},
 {5400, 864},
 {5400, 1080},
 {5400, 1296},
 {5400, 1512},
 {5400, 1728},
 {5400, 1944},
 {5400, 2160},
 {5400, 2376},
 {5400, 2592},
 {5400, 2808},
 {5400, 3024},
 {5400, 3240},
 {5400, 3456},
 {5400, 3672},
 {5400, 3888},
 {5400, 4104},
 {5400, 4320},
 {5400, 4536},
 {5400, 4752},
 {5400, 4968},
 {5400, 5184},
 {5400, 5400},
 {5400, 5400}}], Line[{{7200, -5400},
 {7200, -5184},
 {7200, -4968},
 {7200, -4752},
 {7200, -4536},
 {7200, -4320},
 {7200, -4104},
 {7200, -3888},
 {7200, -3672},
 {7200, -3456},
 {7200, -3240},
 {7200, -3024},
 {7200, -2808},
 {7200, -2592},
 {7200, -2376},
 {7200, -2160},
 {7200, -1944},
 {7200, -1728},
 {7200, -1512},
 {7200, -1296},
 {7200, -1080},
 {7200, -864},
 {7200, -648},
 {7200, -432},
 {7200, -216},
 {7200, 0},
 {7200, 216},
 {7200, 432},
 {7200, 648},
 {7200, 864},
 {7200, 1080},
 {7200, 1296},
 {7200, 1512},
 {7200, 1728},
 {7200, 1944},
 {7200, 2160},
 {7200, 2376},
 {7200, 2592},
 {7200, 2808},
 {7200, 3024},
 {7200, 3240},
 {7200, 3456},
 {7200, 3672},
 {7200, 3888},
 {7200, 4104},
 {7200, 4320},
 {7200, 4536},
 {7200, 4752},
 {7200, 4968},
 {7200, 5184},
 {7200, 5400},
 {7200, 5400}}], Line[{{9000, -5400},
 {9000, -5184},
 {9000, -4968},
 {9000, -4752},
 {9000, -4536},
 {9000, -4320},
 {9000, -4104},
 {9000, -3888},
 {9000, -3672},
 {9000, -3456},
 {9000, -3240},
 {9000, -3024},
 {9000, -2808},
 {9000, -2592},
 {9000, -2376},
 {9000, -2160},
 {9000, -1944},
 {9000, -1728},
 {9000, -1512},
 {9000, -1296},
 {9000, -1080},
 {9000, -864},
 {9000, -648},
 {9000, -432},
 {9000, -216},
 {9000, 0},
 {9000, 216},
 {9000, 432},
 {9000, 648},
 {9000, 864},
 {9000, 1080},
 {9000, 1296},
 {9000, 1512},
 {9000, 1728},
 {9000, 1944},
 {9000, 2160},
 {9000, 2376},
 {9000, 2592},
 {9000, 2808},
 {9000, 3024},
 {9000, 3240},
 {9000, 3456},
 {9000, 3672},
 {9000, 3888},
 {9000, 4104},
 {9000, 4320},
 {9000, 4536},
 {9000, 4752},
 {9000, 4968},
 {9000, 5184},
 {9000, 5400},
 {9000, 5400}}], Line[{{10800, -5400},
 {10800, -5184},
 {10800, -4968},
 {10800, -4752},
 {10800, -4536},
 {10800, -4320},
 {10800, -4104},
 {10800, -3888},
 {10800, -3672},
 {10800, -3456},
 {10800, -3240},
 {10800, -3024},
 {10800, -2808},
 {10800, -2592},
 {10800, -2376},
 {10800, -2160},
 {10800, -1944},
 {10800, -1728},
 {10800, -1512},
 {10800, -1296},
 {10800, -1080},
 {10800, -864},
 {10800, -648},
 {10800, -432},
 {10800, -216},
 {10800, 0},
 {10800, 216},
 {10800, 432},
 {10800, 648},
 {10800, 864},
 {10800, 1080},
 {10800, 1296},
 {10800, 1512},
 {10800, 1728},
 {10800, 1944},
 {10800, 2160},
 {10800, 2376},
 {10800, 2592},
 {10800, 2808},
 {10800, 3024},
 {10800, 3240},
 {10800, 3456},
 {10800, 3672},
 {10800, 3888},
 {10800, 4104},
 {10800, 4320},
 {10800, 4536},
 {10800, 4752},
 {10800, 4968},
 {10800, 5184},
 {10800, 5400},
 {10800, 5400}}], Line[{{-10800, -5400},
 {-10584, -5400},
 {-10368, -5400},
 {-10152, -5400},
 {-9936, -5400},
 {-9720, -5400},
 {-9504, -5400},
 {-9288, -5400},
 {-9072, -5400},
 {-8856, -5400},
 {-8640, -5400},
 {-8424, -5400},
 {-8208, -5400},
 {-7992, -5400},
 {-7776, -5400},
 {-7560, -5400},
 {-7344, -5400},
 {-7128, -5400},
 {-6912, -5400},
 {-6696, -5400},
 {-6480, -5400},
 {-6264, -5400},
 {-6048, -5400},
 {-5832, -5400},
 {-5616, -5400},
 {-5400, -5400},
 {-5184, -5400},
 {-4968, -5400},
 {-4752, -5400},
 {-4536, -5400},
 {-4320, -5400},
 {-4104, -5400},
 {-3888, -5400},
 {-3672, -5400},
 {-3456, -5400},
 {-3240, -5400},
 {-3024, -5400},
 {-2808, -5400},
 {-2592, -5400},
 {-2376, -5400},
 {-2160, -5400},
 {-1944, -5400},
 {-1728, -5400},
 {-1512, -5400},
 {-1296, -5400},
 {-1080, -5400},
 {-864, -5400},
 {-648, -5400},
 {-432, -5400},
 {-216, -5400},
 {0, -5400},
 {216, -5400},
 {432, -5400},
 {648, -5400},
 {864, -5400},
 {1080, -5400},
 {1296, -5400},
 {1512, -5400},
 {1728, -5400},
 {1944, -5400},
 {2160, -5400},
 {2376, -5400},
 {2592, -5400},
 {2808, -5400},
 {3024, -5400},
 {3240, -5400},
 {3456, -5400},
 {3672, -5400},
 {3888, -5400},
 {4104, -5400},
 {4320, -5400},
 {4536, -5400},
 {4752, -5400},
 {4968, -5400},
 {5184, -5400},
 {5400, -5400},
 {5616, -5400},
 {5832, -5400},
 {6048, -5400},
 {6264, -5400},
 {6480, -5400},
 {6696, -5400},
 {6912, -5400},
 {7128, -5400},
 {7344, -5400},
 {7560, -5400},
 {7776, -5400},
 {7992, -5400},
 {8208, -5400},
 {8424, -5400},
 {8640, -5400},
 {8856, -5400},
 {9072, -5400},
 {9288, -5400},
 {9504, -5400},
 {9720, -5400},
 {9936, -5400},
 {10152, -5400},
 {10368, -5400},
 {10584, -5400},
 {10800, -5400},
 {10800, -5400}}], Line[{{-10800, -3600},
 {-10584, -3600},
 {-10368, -3600},
 {-10152, -3600},
 {-9936, -3600},
 {-9720, -3600},
 {-9504, -3600},
 {-9288, -3600},
 {-9072, -3600},
 {-8856, -3600},
 {-8640, -3600},
 {-8424, -3600},
 {-8208, -3600},
 {-7992, -3600},
 {-7776, -3600},
 {-7560, -3600},
 {-7344, -3600},
 {-7128, -3600},
 {-6912, -3600},
 {-6696, -3600},
 {-6480, -3600},
 {-6264, -3600},
 {-6048, -3600},
 {-5832, -3600},
 {-5616, -3600},
 {-5400, -3600},
 {-5184, -3600},
 {-4968, -3600},
 {-4752, -3600},
 {-4536, -3600},
 {-4320, -3600},
 {-4104, -3600},
 {-3888, -3600},
 {-3672, -3600},
 {-3456, -3600},
 {-3240, -3600},
 {-3024, -3600},
 {-2808, -3600},
 {-2592, -3600},
 {-2376, -3600},
 {-2160, -3600},
 {-1944, -3600},
 {-1728, -3600},
 {-1512, -3600},
 {-1296, -3600},
 {-1080, -3600},
 {-864, -3600},
 {-648, -3600},
 {-432, -3600},
 {-216, -3600},
 {0, -3600},
 {216, -3600},
 {432, -3600},
 {648, -3600},
 {864, -3600},
 {1080, -3600},
 {1296, -3600},
 {1512, -3600},
 {1728, -3600},
 {1944, -3600},
 {2160, -3600},
 {2376, -3600},
 {2592, -3600},
 {2808, -3600},
 {3024, -3600},
 {3240, -3600},
 {3456, -3600},
 {3672, -3600},
 {3888, -3600},
 {4104, -3600},
 {4320, -3600},
 {4536, -3600},
 {4752, -3600},
 {4968, -3600},
 {5184, -3600},
 {5400, -3600},
 {5616, -3600},
 {5832, -3600},
 {6048, -3600},
 {6264, -3600},
 {6480, -3600},
 {6696, -3600},
 {6912, -3600},
 {7128, -3600},
 {7344, -3600},
 {7560, -3600},
 {7776, -3600},
 {7992, -3600},
 {8208, -3600},
 {8424, -3600},
 {8640, -3600},
 {8856, -3600},
 {9072, -3600},
 {9288, -3600},
 {9504, -3600},
 {9720, -3600},
 {9936, -3600},
 {10152, -3600},
 {10368, -3600},
 {10584, -3600},
 {10800, -3600},
 {10800, -3600}}], Line[{{-10800, -1800},
 {-10584, -1800},
 {-10368, -1800},
 {-10152, -1800},
 {-9936, -1800},
 {-9720, -1800},
 {-9504, -1800},
 {-9288, -1800},
 {-9072, -1800},
 {-8856, -1800},
 {-8640, -1800},
 {-8424, -1800},
 {-8208, -1800},
 {-7992, -1800},
 {-7776, -1800},
 {-7560, -1800},
 {-7344, -1800},
 {-7128, -1800},
 {-6912, -1800},
 {-6696, -1800},
 {-6480, -1800},
 {-6264, -1800},
 {-6048, -1800},
 {-5832, -1800},
 {-5616, -1800},
 {-5400, -1800},
 {-5184, -1800},
 {-4968, -1800},
 {-4752, -1800},
 {-4536, -1800},
 {-4320, -1800},
 {-4104, -1800},
 {-3888, -1800},
 {-3672, -1800},
 {-3456, -1800},
 {-3240, -1800},
 {-3024, -1800},
 {-2808, -1800},
 {-2592, -1800},
 {-2376, -1800},
 {-2160, -1800},
 {-1944, -1800},
 {-1728, -1800},
 {-1512, -1800},
 {-1296, -1800},
 {-1080, -1800},
 {-864, -1800},
 {-648, -1800},
 {-432, -1800},
 {-216, -1800},
 {0, -1800},
 {216, -1800},
 {432, -1800},
 {648, -1800},
 {864, -1800},
 {1080, -1800},
 {1296, -1800},
 {1512, -1800},
 {1728, -1800},
 {1944, -1800},
 {2160, -1800},
 {2376, -1800},
 {2592, -1800},
 {2808, -1800},
 {3024, -1800},
 {3240, -1800},
 {3456, -1800},
 {3672, -1800},
 {3888, -1800},
 {4104, -1800},
 {4320, -1800},
 {4536, -1800},
 {4752, -1800},
 {4968, -1800},
 {5184, -1800},
 {5400, -1800},
 {5616, -1800},
 {5832, -1800},
 {6048, -1800},
 {6264, -1800},
 {6480, -1800},
 {6696, -1800},
 {6912, -1800},
 {7128, -1800},
 {7344, -1800},
 {7560, -1800},
 {7776, -1800},
 {7992, -1800},
 {8208, -1800},
 {8424, -1800},
 {8640, -1800},
 {8856, -1800},
 {9072, -1800},
 {9288, -1800},
 {9504, -1800},
 {9720, -1800},
 {9936, -1800},
 {10152, -1800},
 {10368, -1800},
 {10584, -1800},
 {10800, -1800},
 {10800, -1800}}], Line[{{-10800, 0},
 {-10584, 0},
 {-10368, 0},
 {-10152, 0},
 {-9936, 0},
 {-9720, 0},
 {-9504, 0},
 {-9288, 0},
 {-9072, 0},
 {-8856, 0},
 {-8640, 0},
 {-8424, 0},
 {-8208, 0},
 {-7992, 0},
 {-7776, 0},
 {-7560, 0},
 {-7344, 0},
 {-7128, 0},
 {-6912, 0},
 {-6696, 0},
 {-6480, 0},
 {-6264, 0},
 {-6048, 0},
 {-5832, 0},
 {-5616, 0},
 {-5400, 0},
 {-5184, 0},
 {-4968, 0},
 {-4752, 0},
 {-4536, 0},
 {-4320, 0},
 {-4104, 0},
 {-3888, 0},
 {-3672, 0},
 {-3456, 0},
 {-3240, 0},
 {-3024, 0},
 {-2808, 0},
 {-2592, 0},
 {-2376, 0},
 {-2160, 0},
 {-1944, 0},
 {-1728, 0},
 {-1512, 0},
 {-1296, 0},
 {-1080, 0},
 {-864, 0},
 {-648, 0},
 {-432, 0},
 {-216, 0},
 {0, 0},
 {216, 0},
 {432, 0},
 {648, 0},
 {864, 0},
 {1080, 0},
 {1296, 0},
 {1512, 0},
 {1728, 0},
 {1944, 0},
 {2160, 0},
 {2376, 0},
 {2592, 0},
 {2808, 0},
 {3024, 0},
 {3240, 0},
 {3456, 0},
 {3672, 0},
 {3888, 0},
 {4104, 0},
 {4320, 0},
 {4536, 0},
 {4752, 0},
 {4968, 0},
 {5184, 0},
 {5400, 0},
 {5616, 0},
 {5832, 0},
 {6048, 0},
 {6264, 0},
 {6480, 0},
 {6696, 0},
 {6912, 0},
 {7128, 0},
 {7344, 0},
 {7560, 0},
 {7776, 0},
 {7992, 0},
 {8208, 0},
 {8424, 0},
 {8640, 0},
 {8856, 0},
 {9072, 0},
 {9288, 0},
 {9504, 0},
 {9720, 0},
 {9936, 0},
 {10152, 0},
 {10368, 0},
 {10584, 0},
 {10800, 0},
 {10800, 0}}], Line[{{-10800, 1800},
 {-10584, 1800},
 {-10368, 1800},
 {-10152, 1800},
 {-9936, 1800},
 {-9720, 1800},
 {-9504, 1800},
 {-9288, 1800},
 {-9072, 1800},
 {-8856, 1800},
 {-8640, 1800},
 {-8424, 1800},
 {-8208, 1800},
 {-7992, 1800},
 {-7776, 1800},
 {-7560, 1800},
 {-7344, 1800},
 {-7128, 1800},
 {-6912, 1800},
 {-6696, 1800},
 {-6480, 1800},
 {-6264, 1800},
 {-6048, 1800},
 {-5832, 1800},
 {-5616, 1800},
 {-5400, 1800},
 {-5184, 1800},
 {-4968, 1800},
 {-4752, 1800},
 {-4536, 1800},
 {-4320, 1800},
 {-4104, 1800},
 {-3888, 1800},
 {-3672, 1800},
 {-3456, 1800},
 {-3240, 1800},
 {-3024, 1800},
 {-2808, 1800},
 {-2592, 1800},
 {-2376, 1800},
 {-2160, 1800},
 {-1944, 1800},
 {-1728, 1800},
 {-1512, 1800},
 {-1296, 1800},
 {-1080, 1800},
 {-864, 1800},
 {-648, 1800},
 {-432, 1800},
 {-216, 1800},
 {0, 1800},
 {216, 1800},
 {432, 1800},
 {648, 1800},
 {864, 1800},
 {1080, 1800},
 {1296, 1800},
 {1512, 1800},
 {1728, 1800},
 {1944, 1800},
 {2160, 1800},
 {2376, 1800},
 {2592, 1800},
 {2808, 1800},
 {3024, 1800},
 {3240, 1800},
 {3456, 1800},
 {3672, 1800},
 {3888, 1800},
 {4104, 1800},
 {4320, 1800},
 {4536, 1800},
 {4752, 1800},
 {4968, 1800},
 {5184, 1800},
 {5400, 1800},
 {5616, 1800},
 {5832, 1800},
 {6048, 1800},
 {6264, 1800},
 {6480, 1800},
 {6696, 1800},
 {6912, 1800},
 {7128, 1800},
 {7344, 1800},
 {7560, 1800},
 {7776, 1800},
 {7992, 1800},
 {8208, 1800},
 {8424, 1800},
 {8640, 1800},
 {8856, 1800},
 {9072, 1800},
 {9288, 1800},
 {9504, 1800},
 {9720, 1800},
 {9936, 1800},
 {10152, 1800},
 {10368, 1800},
 {10584, 1800},
 {10800, 1800},
 {10800, 1800}}], Line[{{-10800, 3600},
 {-10584, 3600},
 {-10368, 3600},
 {-10152, 3600},
 {-9936, 3600},
 {-9720, 3600},
 {-9504, 3600},
 {-9288, 3600},
 {-9072, 3600},
 {-8856, 3600},
 {-8640, 3600},
 {-8424, 3600},
 {-8208, 3600},
 {-7992, 3600},
 {-7776, 3600},
 {-7560, 3600},
 {-7344, 3600},
 {-7128, 3600},
 {-6912, 3600},
 {-6696, 3600},
 {-6480, 3600},
 {-6264, 3600},
 {-6048, 3600},
 {-5832, 3600},
 {-5616, 3600},
 {-5400, 3600},
 {-5184, 3600},
 {-4968, 3600},
 {-4752, 3600},
 {-4536, 3600},
 {-4320, 3600},
 {-4104, 3600},
 {-3888, 3600},
 {-3672, 3600},
 {-3456, 3600},
 {-3240, 3600},
 {-3024, 3600},
 {-2808, 3600},
 {-2592, 3600},
 {-2376, 3600},
 {-2160, 3600},
 {-1944, 3600},
 {-1728, 3600},
 {-1512, 3600},
 {-1296, 3600},
 {-1080, 3600},
 {-864, 3600},
 {-648, 3600},
 {-432, 3600},
 {-216, 3600},
 {0, 3600},
 {216, 3600},
 {432, 3600},
 {648, 3600},
 {864, 3600},
 {1080, 3600},
 {1296, 3600},
 {1512, 3600},
 {1728, 3600},
 {1944, 3600},
 {2160, 3600},
 {2376, 3600},
 {2592, 3600},
 {2808, 3600},
 {3024, 3600},
 {3240, 3600},
 {3456, 3600},
 {3672, 3600},
 {3888, 3600},
 {4104, 3600},
 {4320, 3600},
 {4536, 3600},
 {4752, 3600},
 {4968, 3600},
 {5184, 3600},
 {5400, 3600},
 {5616, 3600},
 {5832, 3600},
 {6048, 3600},
 {6264, 3600},
 {6480, 3600},
 {6696, 3600},
 {6912, 3600},
 {7128, 3600},
 {7344, 3600},
 {7560, 3600},
 {7776, 3600},
 {7992, 3600},
 {8208, 3600},
 {8424, 3600},
 {8640, 3600},
 {8856, 3600},
 {9072, 3600},
 {9288, 3600},
 {9504, 3600},
 {9720, 3600},
 {9936, 3600},
 {10152, 3600},
 {10368, 3600},
 {10584, 3600},
 {10800, 3600},
 {10800, 3600}}], Line[{{-10800, 5400},
 {-10584, 5400},
 {-10368, 5400},
 {-10152, 5400},
 {-9936, 5400},
 {-9720, 5400},
 {-9504, 5400},
 {-9288, 5400},
 {-9072, 5400},
 {-8856, 5400},
 {-8640, 5400},
 {-8424, 5400},
 {-8208, 5400},
 {-7992, 5400},
 {-7776, 5400},
 {-7560, 5400},
 {-7344, 5400},
 {-7128, 5400},
 {-6912, 5400},
 {-6696, 5400},
 {-6480, 5400},
 {-6264, 5400},
 {-6048, 5400},
 {-5832, 5400},
 {-5616, 5400},
 {-5400, 5400},
 {-5184, 5400},
 {-4968, 5400},
 {-4752, 5400},
 {-4536, 5400},
 {-4320, 5400},
 {-4104, 5400},
 {-3888, 5400},
 {-3672, 5400},
 {-3456, 5400},
 {-3240, 5400},
 {-3024, 5400},
 {-2808, 5400},
 {-2592, 5400},
 {-2376, 5400},
 {-2160, 5400},
 {-1944, 5400},
 {-1728, 5400},
 {-1512, 5400},
 {-1296, 5400},
 {-1080, 5400},
 {-864, 5400},
 {-648, 5400},
 {-432, 5400},
 {-216, 5400},
 {0, 5400},
 {216, 5400},
 {432, 5400},
 {648, 5400},
 {864, 5400},
 {1080, 5400},
 {1296, 5400},
 {1512, 5400},
 {1728, 5400},
 {1944, 5400},
 {2160, 5400},
 {2376, 5400},
 {2592, 5400},
 {2808, 5400},
 {3024, 5400},
 {3240, 5400},
 {3456, 5400},
 {3672, 5400},
 {3888, 5400},
 {4104, 5400},
 {4320, 5400},
 {4536, 5400},
 {4752, 5400},
 {4968, 5400},
 {5184, 5400},
 {5400, 5400},
 {5616, 5400},
 {5832, 5400},
 {6048, 5400},
 {6264, 5400},
 {6480, 5400},
 {6696, 5400},
 {6912, 5400},
 {7128, 5400},
 {7344, 5400},
 {7560, 5400},
 {7776, 5400},
 {7992, 5400},
 {8208, 5400},
 {8424, 5400},
 {8640, 5400},
 {8856, 5400},
 {9072, 5400},
 {9288, 5400},
 {9504, 5400},
 {9720, 5400},
 {9936, 5400},
 {10152, 5400},
 {10368, 5400},
 {10584, 5400},
 {10800, 5400},
 {10800, 5400}}]},
 {{RGBColor[0.9217153137663933, 0.7131090522485243, 0.5263511443209531], {Polygon[{{3677, 2136},
 {3844, 2160},
 {3947, 2254},
 {4066, 2233},
 {4257, 2308},
 {4301, 2201},
 {4495, 2234},
 {4474, 2222},
 {4298, 2188},
 {4194, 2041},
 {4160, 1916},
 {4003, 1873},
 {3975, 1791},
 {3652, 1792},
 {3711, 1861},
 {3635, 1984},
 {3677, 2136}}]}},
 {RGBColor[0.6323629288872635, 0.02746374954013497, 0.5755389212690778], {Polygon[{{1201, 2381},
 {1162, 2511},
 {1210, 2551},
 {1259, 2451},
 {1201, 2381}}]}},
 {RGBColor[0.2608698838664193, 0.8818941994357873, 0.6037522053547201], {Polygon[{{517, 2216},
 {0, 2150},
 {-133, 2105},
 {-71, 1926},
 {-229, 1902},
 {-218, 1858},
 {-520, 1723},
 {-520, 1660},
 {-520, 1637},
 {-288, 1500},
 {0, 1310},
 {255, 1149},
 {720, 1411},
 {564, 1569},
 {572, 1814},
 {450, 2033},
 {517, 2216}}]}},
 {RGBColor[0.14401937382643745, 0.3347477463648536, 0.05638342813880387], {Polygon[{{105, 2550},
 {90, 2556},
 {89, 2556},
 {105, 2550}}]}},
 {RGBColor[0.5086012845434951, 0.8693522602842764, 0.1665018039136249], {Polygon[{{791, -352},
 {735, -366},
 {828, -708},
 {706, -1035},
 {831, -1040},
 {1409, -1058},
 {1320, -970},
 {1320, -780},
 {1441, -780},
 {1439, -652},
 {1330, -652},
 {1307, -437},
 {1080, -486},
 {1019, -435},
 {991, -353},
 {791, -351}}]}},
 {RGBColor[0.2580309544950549, 0.4682114535079732, 0.1215810181617338], {Polygon[{{-9929, -5101},
 {-8322, -5098},
 {-9119, -5056},
 {-9403, -4868},
 {-8635, -4842},
 {-9366, -4741},
 {-9461, -4626},
 {-8970, -4666},
 {-8732, -4608},
 {-8900, -4567},
 {-8129, -4469},
 {-6842, -4430},
 {-6758, -4491},
 {-6037, -4522},
 {-6191, -4418},
 {-5951, -4417},
 {-6195, -4365},
 {-5364, -4356},
 {-4812, -4381},
 {-4436, -4423},
 {-4055, -4370},
 {-4051, -4280},
 {-4049, -4023},
 {-3659, -3842},
 {-3403, -3813},
 {-3654, -3974},
 {-3931, -4044},
 {-3913, -4117},
 {-3682, -4234},
 {-3644, -4462},
 {-4672, -4549},
 {-5094, -4611},
 {-4637, -4705},
 {-4901, -4749},
 {-4569, -4763},
 {-4806, -4798},
 {-4421, -4855},
 {-3495, -4982},
 {-1826, -4827},
 {-2113, -4671},
 {-823, -4437},
 {-1014, -4427},
 {-711, -4277},
 {-355, -4242},
 {-361, -4285},
 {0, -4290},
 {521, -4204},
 {1404, -4232},
 {2038, -4110},
 {2309, -4200},
 {2466, -4111},
 {3050, -4029},
 {3118, -3959},
 {3407, -4023},
 {4021, -4067},
 {4179, -4066},
 {4080, -4213},
 {4284, -4277},
 {4672, -4144},
 {4737, -4088},
 {5294, -3962},
 {5376, -4010},
 {6002, -3939},
 {6532, -4015},
 {6804, -3943},
 {7066, -4019},
 {7762, -4022},
 {8124, -3961},
 {8722, -4021},
 {8882, -4104},
 {9541, -4158},
 {10248, -4300},
 {9735, -4490},
 {10037, -4717},
 {9600, -4736},
 {9552, -4794},
 {10800, -4974},
 {10800, -5190},
 {10800, -5400},
 {10800, -5400},
 {10800, -5400},
 {10584, -5400},
 {10368, -5400},
 {10152, -5400},
 {9936, -5400},
 {9720, -5400},
 {9504, -5400},
 {9288, -5400},
 {9072, -5400},
 {8856, -5400},
 {8640, -5400},
 {8424, -5400},
 {8208, -5400},
 {7992, -5400},
 {7776, -5400},
 {7560, -5400},
 {7344, -5400},
 {7128, -5400},
 {6912, -5400},
 {6696, -5400},
 {6480, -5400},
 {6264, -5400},
 {6048, -5400},
 {5832, -5400},
 {5616, -5400},
 {5400, -5400},
 {5184, -5400},
 {4968, -5400},
 {4752, -5400},
 {4536, -5400},
 {4320, -5400},
 {4104, -5400},
 {3888, -5400},
 {3672, -5400},
 {3456, -5400},
 {3240, -5400},
 {3024, -5400},
 {2808, -5400},
 {2592, -5400},
 {2376, -5400},
 {2160, -5400},
 {1944, -5400},
 {1728, -5400},
 {1512, -5400},
 {1296, -5400},
 {1080, -5400},
 {864, -5400},
 {648, -5400},
 {432, -5400},
 {216, -5400},
 {0, -5400},
 {-216, -5400},
 {-432, -5400},
 {-648, -5400},
 {-864, -5400},
 {-1080, -5400},
 {-1296, -5400},
 {-1512, -5400},
 {-1728, -5400},
 {-1944, -5400},
 {-2160, -5400},
 {-2376, -5400},
 {-2592, -5400},
 {-2808, -5400},
 {-3024, -5400},
 {-3240, -5400},
 {-3456, -5400},
 {-3672, -5400},
 {-3888, -5400},
 {-4104, -5400},
 {-4320, -5400},
 {-4536, -5400},
 {-4752, -5400},
 {-4968, -5400},
 {-5184, -5400},
 {-5400, -5400},
 {-5616, -5400},
 {-5832, -5400},
 {-6048, -5400},
 {-6264, -5400},
 {-6480, -5400},
 {-6696, -5400},
 {-6912, -5400},
 {-7128, -5400},
 {-7344, -5400},
 {-7560, -5400},
 {-7776, -5400},
 {-7992, -5400},
 {-8208, -5400},
 {-8424, -5400},
 {-8640, -5400},
 {-8856, -5400},
 {-9072, -5400},
 {-9288, -5400},
 {-9504, -5400},
 {-9720, -5400},
 {-9936, -5400},
 {-10152, -5400},
 {-10368, -5400},
 {-10584, -5400},
 {-10800, -5400},
 {-10800, -5400},
 {-10800, -5190},
 {-10800, -4974},
 {-9930, -5101},
 {-9929, -5101}}], Polygon[{{-5761, -4352},
 {-6138, -4329},
 {-5930, -4296},
 {-5761, -4352}}], Polygon[{{-4325, -4358},
 {-4305, -4296},
 {-4540, -4287},
 {-4236, -4257},
 {-4324, -4144},
 {-4085, -4298},
 {-4325, -4358}}], Polygon[{{-4372, -4644},
 {-4482, -4684},
 {-4851, -4637},
 {-4372, -4644}}], Polygon[{{-3578, -4795},
 {-3612, -4862},
 {-3967, -4820},
 {-3578, -4795}}]}},
 {RGBColor[0.4853908489581638, 0.3789214591551308, 0.6556696975965094], {Polygon[{{-3492, -1947},
 {-3511, -2067},
 {-3400, -2214},
 {-3499, -2309},
 {-3743, -2328},
 {-3738, -2449},
 {-3908, -2451},
 {-3815, -2557},
 {-3898, -2560},
 {-3936, -2701},
 {-4055, -2760},
 {-3944, -2843},
 {-4141, -3001},
 {-4106, -3143},
 {-4316, -3119},
 {-4415, -2972},
 {-4266, -2672},
 {-4328, -2537},
 {-4189, -2054},
 {-4234, -1879},
 {-4099, -1623},
 {-4031, -1369},
 {-3974, -1307},
 {-3859, -1372},
 {-3836, -1320},
 {-3758, -1334},
 {-3465, -1511},
 {-3516, -1639},
 {-3335, -1637},
 {-3276, -1534},
 {-3228, -1628},
 {-3458, -1815},
 {-3492, -1947}}], Polygon[{{-4117, -3159},
 {-3908, -3279},
 {-4118, -3287},
 {-4118, -3293},
 {-4117, -3159}}]}},
 {RGBColor[0.8650866982428037, 0.9267367882748421, 0.319444905566829], {Polygon[{{2590, 2435},
 {2701, 2472},
 {2781, 2419},
 {2849, 2361},
 {2806, 2344},
 {2770, 2374},
 {2689, 2378},
 {2590, 2435}}]}},
 {RGBColor[0.733954383830116, 0.15197764599427946, 0.400385643953889], {Polygon[{{8678, -2300},
 {8613, -2332},
 {8422, -2277},
 {8369, -2155},
 {8285, -2049},
 {8210, -2118},
 {8266, -1951},
 {8157, -2099},
 {8027, -1933},
 {7872, -1889},
 {7559, -1939},
 {7201, -2036},
 {7077, -2109},
 {6907, -2063},
 {6944, -1914},
 {6789, -1569},
 {6854, -1568},
 {6804, -1450},
 {6842, -1309},
 {7009, -1230},
 {7262, -1172},
 {7376, -982},
 {7426, -1073},
 {7417, -968},
 {7515, -935},
 {7561, -834},
 {7645, -837},
 {7670, -936},
 {7709, -886},
 {7812, -923},
 {7782, -833},
 {7860, -730},
 {7961, -731},
 {7919, -672},
 {8143, -738},
 {8219, -744},
 {8127, -899},
 {8406, -1063},
 {8503, -914},
 {8528, -662},
 {8586, -732},
 {8627, -863},
 {8722, -898},
 {8777, -1133},
 {8927, -1215},
 {8978, -1353},
 {9048, -1352},
 {9175, -1518},
 {9217, -1727},
 {9013, -2144},
 {8977, -2263},
 {8782, -2349},
 {8678, -2300}}], Polygon[{{9182, -1546},
 {9196, -1482},
 {9182, -1546}}], Polygon[{{8746, -2590},
 {8682, -2441},
 {8901, -2458},
 {8879, -2591},
 {8746, -2589}}], Polygon[{{7856, -716},
 {7823, -672},
 {7886, -678},
 {7856, -716}}]}},
 {RGBColor[0.6870819766795654, 0.706490634289981, 0.5764387247252017], {Polygon[{{584, 2852},
 {783, 2850},
 {830, 2926},
 {1030, 2881},
 {967, 2812},
 {823, 2792},
 {628, 2812},
 {576, 2824},
 {572, 2836},
 {584, 2852}}]}},
 {RGBColor[0.13951576008746966, 0.8051877772437782, 0.10273842893526101], {Polygon[{{2689, 2378},
 {2770, 2374},
 {2806, 2344},
 {2770, 2330},
 {2689, 2378}}], Polygon[{{2849, 2361},
 {2781, 2419},
 {2701, 2472},
 {2823, 2445},
 {2778, 2509},
 {2871, 2473},
 {2915, 2510},
 {3024, 2414},
 {2933, 2307},
 {2888, 2376},
 {2849, 2361}}]}},
 {RGBColor[0.43241935089876427, 0.8047680137226161, 0.7488043491049743], {Polygon[{{3030, 1574}}]}},
 {RGBColor[0.5941371443917659, 0.5630670906144879, 0.6382662098089912], {Polygon[{{5532, 1269},
 {5489, 1375},
 {5355, 1437},
 {5437, 1342},
 {5342, 1315},
 {5341, 1517},
 {5305, 1598},
 {5391, 1517},
 {5544, 1502},
 {5470, 1418},
 {5497, 1377},
 {5537, 1418},
 {5556, 1319},
 {5532, 1269}}]}},
 {RGBColor[0.49077339460991937, 0.12592569088379274, 0.4414860724527541], {Polygon[{{1410, 3237},
 {1519, 3249},
 {1580, 3332},
 {1686, 3361},
 {1799, 3350},
 {1903, 3222},
 {1898, 3124},
 {1640, 3095},
 {1416, 3092},
 {1410, 3237}}]}},
 {RGBColor[0.15287536085082737, 0.1118519354547886, 0.47025599328728335], {Polygon[{{153, 3065},
 {203, 3083},
 {361, 3046},
 {368, 3008},
 {349, 2972},
 {153, 3065}}]}},
 {RGBColor[0.5763993742099504, 0.22613857257598532, 0.7924070298879596], {Polygon[{{-5297, 1109},
 {-5335, 954},
 {-5348, 1069},
 {-5297, 1109}}]}},
 {RGBColor[0.7363016094571673, 0.4244217282156709, 0.8257529286220964], {Polygon[{{98, 373},
 {164, 382},
 {214, 705},
 {144, 713},
 {58, 660},
 {98, 373}}]}},
 {RGBColor[0.10532505320839422, 0.029810975167186216, 0.8479830034904693], {Polygon[{{-3885, 1939}}]}},
 {RGBColor[0.6862371685346267, 0.30013727596461603, 0.9270725462319251], {Polygon[{{5335, 1639},
 {5400, 1699},
 {5499, 1666},
 {5335, 1639}}]}},
 {RGBColor[0.41556365259170497, 0.8814691548120106, 0.5513329268596417], {Polygon[{{-4174, -657},
 {-4120, -750},
 {-4170, -1050},
 {-4031, -1369},
 {-3974, -1307},
 {-3859, -1372},
 {-3836, -1320},
 {-3758, -1334},
 {-3705, -1179},
 {-3490, -1210},
 {-3447, -1092},
 {-3500, -977},
 {-3610, -976},
 {-3628, -828},
 {-3864, -748},
 {-3919, -655},
 {-3926, -581},
 {-4174, -657}}]}},
 {RGBColor[0.33293540184015924, 0.852496561977217, 0.24320294500301945], {Polygon[{{1118, 2550},
 {982, 2651},
 {966, 2674},
 {957, 2710},
 {1108, 2703},
 {1128, 2693},
 {1118, 2550}}]}},
 {RGBColor[0.06055953224972237, 0.2070097109563665, 0.41101048952446295], {Polygon[{{1516, -1068},
 {1260, -1099},
 {1200, -1320},
 {1200, -1486},
 {1239, -1610},
 {1368, -1539},
 {1531, -1540},
 {1763, -1332},
 {1516, -1068}}]}},
 {RGBColor[0.09032758415219207, 0.9487075967949338, 0.7367537176690832], {Polygon[{{-3202, -2024},
 {-3077, -1801},
 {-3034, -1827},
 {-3124, -1930},
 {-2925, -1712},
 {-2925, -1521},
 {-2458, -1319},
 {-2348, -1061},
 {-2339, -823},
 {-2335, -764},
 {-2289, -764},
 {-2096, -501},
 {-2125, -313},
 {-2400, -171},
 {-2687, -198},
 {-2676, -105},
 {-2809, -43},
 {-2936, -107},
 {-2981, -161},
 {-2965, -107},
 {-3043, -107},
 {-3051, -55},
 {-3163, -96},
 {-2993, 70},
 {-3101, 242},
 {-3164, 140},
 {-3277, 140},
 {-3388, 117},
 {-3555, 83},
 {-3580, 263},
 {-3644, 312},
 {-3691, 256},
 {-3773, 214},
 {-3888, 257},
 {-3804, 129},
 {-4012, 73},
 {-4191, 103},
 {-4147, 39},
 {-4203, 35},
 {-4197, -253},
 {-4374, -308},
 {-4441, -452},
 {-4392, -564},
 {-4231, -566},
 {-4238, -661},
 {-4174, -657},
 {-3926, -581},
 {-3919, -655},
 {-3864, -748},
 {-3628, -828},
 {-3610, -976},
 {-3500, -977},
 {-3447, -1092},
 {-3490, -1210},
 {-3479, -1325},
 {-3351, -1337},
 {-3324, -1438},
 {-3255, -1443},
 {-3276, -1534},
 {-3228, -1628},
 {-3458, -1815},
 {-3225, -1923},
 {-3202, -2024}}], Polygon[{{-2904, -16},
 {-3023, -110},
 {-3035, -12},
 {-2904, -16}}]}},
 {RGBColor[0.8346111153145125, 0.8641890115762068, 0.15630056690697414], {Polygon[{{6845, 275},
 {6901, 292},
 {6901, 293},
 {6845, 275}}], Polygon[{{6909, 294},
 {6902, 289},
 {6909, 294}}]}},
 {RGBColor[0.0004521082119158203, 0.41018938709884156, 0.038436082954110384], {Polygon[{{1715, 2625},
 {1681, 2519},
 {1581, 2503},
 {1376, 2481},
 {1361, 2654},
 {1715, 2625}}]}},
 {RGBColor[0.050975513698579916, 0.9706411330447297, 0.5622063836083724], {Polygon[{{-161, 569},
 {-331, 626},
 {-238, 810},
 {0, 900},
 {14, 900},
 {144, 714},
 {58, 660},
 {-10, 668},
 {-170, 660},
 {-161, 569}}]}},
 {RGBColor[0.3521989144194837, 0.7508382377339639, 0.04356858681280441], {Polygon[{{5925, 621},
 {5864, 994},
 {5813, 1047},
 {5740, 957},
 {5655, 958},
 {5645, 1163},
 {5532, 1268},
 {5556, 1319},
 {5708, 1597},
 {5828, 1625},
 {5841, 1693},
 {5889, 1688},
 {5923, 1552},
 {5852, 1436},
 {5934, 1446},
 {6069, 1294},
 {6005, 1221},
 {6069, 1294},
 {6005, 1221},
 {5841, 1113},
 {5936, 983},
 {5891, 906},
 {5980, 710},
 {5925, 621}}]}},
 {RGBColor[0.14664273101666733, 0.4707297596074731, 0.1995053108743221], {Polygon[{{1741, -165},
 {1765, -267},
 {1834, -144},
 {1741, -165}}]}},
 {RGBColor[0.7106331849726452, 0.2941461690394503, 0.22752681460445362], {Polygon[{{930, 452},
 {1115, 482},
 {1366, 657},
 {1373, 655},
 {1411, 523},
 {1647, 301},
 {1340, 248},
 {1152, 298},
 {1118, 209},
 {995, 209},
 {972, 133},
 {865, 363},
 {930, 452}}]}},
 {RGBColor[0.13894577862459975, 0.5036234740162786, 0.8831356795149874], {Polygon[{{722, -301},
 {732, -347},
 {785, -278},
 {722, -301}}]}},
 {RGBColor[0.13719923045226157, 0.19023818182966598, 0.7668697563471956], {Polygon[{{6267, 625},
 {6175, 698},
 {6140, 813},
 {6313, 861},
 {6453, 882},
 {6453, 741},
 {6351, 700},
 {6267, 625}}]}},
 {RGBColor[0.04852456420047482, 0.2730102188760548, 0.03393761492269184], {Polygon[{{589, 141},
 {585, 248},
 {516, 289},
 {588, 408},
 {713, 425},
 {879, 694},
 {844, 785},
 {941, 599},
 {837, 578},
 {930, 452},
 {865, 363},
 {972, 133},
 {798, 130},
 {680, 130},
 {589, 141}}]}},
 {RGBColor[0.7664176481352797, 0.6383351771016332, 0.23457413592194443], {Polygon[{{-7364, 2940},
 {-7022, 2940},
 {-6962, 2940},
 {-6240, 2940},
 {-5832, 2940},
 {-5375, 2880},
 {-5048, 2792},
 {-4945, 2581},
 {-4959, 2553},
 {-4962, 2501},
 {-4735, 2575},
 {-4744, 2586},
 {-4744, 2596},
 {-4548, 2669},
 {-4401, 2701},
 {-4290, 2701},
 {-4265, 2718},
 {-4154, 2848},
 {-4032, 2711},
 {-3943, 2716},
 {-3885, 2765},
 {-3896, 2721},
 {-3802, 2722},
 {-3971, 2665},
 {-3928, 2608},
 {-3658, 2716},
 {-3715, 2753},
 {-3825, 2750},
 {-3881, 2864},
 {-4011, 2880},
 {-3853, 2910},
 {-3927, 2956},
 {-4278, 2805},
 {-4184, 2887},
 {-4264, 2906},
 {-4181, 2888},
 {-3868, 3019},
 {-3608, 3012},
 {-3337, 3133},
 {-3346, 3191},
 {-3482, 3254},
 {-3625, 3196},
 {-3502, 3254},
 {-3441, 3275},
 {-3641, 3300},
 {-3732, 3403},
 {-3890, 3622},
 {-3964, 3499},
 {-4080, 3515},
 {-4162, 3466},
 {-4092, 3513},
 {-4262, 3604},
 {-4162, 3654},
 {-4325, 3704},
 {-4686, 3740},
 {-4714, 3517},
 {-4595, 3434},
 {-4628, 3339},
 {-4786, 3279},
 {-4760, 3043},
 {-4913, 3131},
 {-4938, 3309},
 {-5125, 3299},
 {-5330, 3410},
 {-5573, 3414},
 {-5658, 3509},
 {-5688, 3630},
 {-5438, 3784},
 {-5627, 3851},
 {-5279, 3851},
 {-5222, 3914},
 {-5490, 3957},
 {-5244, 3919},
 {-5022, 3971},
 {-5113, 4015},
 {-4890, 4020},
 {-4880, 4151},
 {-5134, 4192},
 {-5223, 4035},
 {-5337, 4154},
 {-5415, 4094},
 {-5575, 4180},
 {-5674, 4320},
 {-5792, 4208},
 {-5602, 4118},
 {-5728, 4058},
 {-5749, 3995},
 {-5771, 4064},
 {-5871, 4113},
 {-5832, 4057},
 {-6134, 4061},
 {-6373, 4136},
 {-6507, 4091},
 {-6339, 4118},
 {-6435, 3981},
 {-6605, 4080},
 {-6906, 4068},
 {-6899, 4132},
 {-7460, 4161},
 {-7473, 4209},
 {-7526, 4159},
 {-7680, 4235},
 {-7848, 4161},
 {-8008, 4133},
 {-7780, 4216},
 {-7983, 4168},
 {-8110, 4119},
 {-8461, 4179},
 {-8460, 3618},
 {-8128, 3588},
 {-7801, 3355},
 {-7803, 3233},
 {-7738, 3213},
 {-7700, 3142},
 {-7604, 3142},
 {-7673, 3100},
 {-7667, 3070},
 {-7489, 3055},
 {-7365, 2939}}], Polygon[{{-7900, 3247},
 {-7962, 3195},
 {-7984, 3250},
 {-7900, 3247}}], Polygon[{{-7648, 3042},
 {-7413, 2898},
 {-7649, 3042}}], Polygon[{{-7184, 4442},
 {-6919, 4409},
 {-7368, 4265},
 {-7560, 4318},
 {-7487, 4460},
 {-7185, 4442}}], Polygon[{{-6876, 4356},
 {-6516, 4351},
 {-6471, 4296},
 {-6485, 4401},
 {-6312, 4343},
 {-6058, 4209},
 {-6174, 4128},
 {-6395, 4170},
 {-6799, 4108},
 {-7046, 4200},
 {-6689, 4220},
 {-7054, 4236},
 {-6904, 4292},
 {-7146, 4301},
 {-7041, 4375},
 {-6876, 4356}}], Polygon[{{-4981, 3895},
 {-4858, 3807},
 {-5114, 3787},
 {-5231, 3815},
 {-5137, 3955},
 {-4981, 3895}}], Polygon[{{-6269, 4412},
 {-6317, 4371},
 {-6422, 4409},
 {-6269, 4412}}], Polygon[{{-5872, 4193},
 {-5732, 4120},
 {-5966, 4133},
 {-5872, 4193}}], Polygon[{{-3337, 3097},
 {-3411, 2973},
 {-3323, 2942},
 {-3209, 2957},
 {-3220, 2851},
 {-3170, 2886},
 {-3185, 2799},
 {-3255, 2874},
 {-3323, 2812},
 {-3346, 2877},
 {-3558, 2857},
 {-3564, 2875},
 {-3470, 2990},
 {-3337, 3096}}], Polygon[{{-3619, 2811},
 {-3669, 2742},
 {-3588, 2756},
 {-3691, 2756},
 {-3619, 2811}}], Polygon[{{-4034, 4097},
 {-3676, 3998},
 {-3813, 3893},
 {-3861, 3981},
 {-4112, 3978},
 {-4043, 3932},
 {-3878, 3774},
 {-4140, 3825},
 {-3964, 3712},
 {-4284, 3783},
 {-4512, 3867},
 {-4680, 3865},
 {-4646, 3928},
 {-4523, 3883},
 {-4409, 3927},
 {-4275, 3957},
 {-4153, 3994},
 {-4379, 4005},
 {-4599, 4122},
 {-4741, 4241},
 {-4857, 4183},
 {-5275, 4214},
 {-5374, 4265},
 {-5401, 4313},
 {-5169, 4432},
 {-5208, 4259},
 {-5141, 4374},
 {-4918, 4424},
 {-4858, 4313},
 {-4624, 4365},
 {-4505, 4271},
 {-4403, 4259},
 {-4315, 4294},
 {-4357, 4238},
 {-4292, 4201},
 {-4192, 4253},
 {-4140, 4200},
 {-4202, 4172},
 {-4006, 4160},
 {-4164, 4132},
 {-4034, 4097}}], Polygon[{{-5705, 4441},
 {-5412, 4434},
 {-5644, 4319},
 {-5705, 4441}}], Polygon[{{-7119, 4642},
 {-6954, 4601},
 {-7220, 4548},
 {-7382, 4565},
 {-7119, 4642}}], Polygon[{{-6222, 4761},
 {-5951, 4670},
 {-6289, 4701},
 {-6222, 4761}}], Polygon[{{-6023, 4598},
 {-5857, 4507},
 {-6167, 4533},
 {-6112, 4587},
 {-6023, 4598}}]}},
 {RGBColor[0.9829621012241119, 0.7957765150905501, 0.0761287934932609], {Polygon[{{1440, 1170},
 {960, 1410},
 {900, 1380},
 {960, 1221},
 {929, 1014},
 {818, 823},
 {844, 785},
 {941, 599},
 {837, 578},
 {930, 452},
 {1115, 482},
 {1366, 657},
 {1310, 768},
 {1376, 933},
 {1440, 942},
 {1440, 1170}}]}},
 {RGBColor[0.8823752215024607, 0.23212386349014805, 0.7522079282777457], {Polygon[{{-4224, -1101},
 {-4287, -1959},
 {-4421, -2240},
 {-4338, -2483},
 {-4356, -2670},
 {-4424, -2792},
 {-4450, -2748},
 {-4542, -2798},
 {-4471, -2808},
 {-4393, -2880},
 {-4479, -2881},
 {-4482, -3012},
 {-4413, -3123},
 {-4348, -3107},
 {-4407, -3180},
 {-4288, -3158},
 {-4393, -3194},
 {-4267, -3171},
 {-4328, -3203},
 {-4106, -3143},
 {-4316, -3119},
 {-4415, -2972},
 {-4266, -2672},
 {-4328, -2537},
 {-4189, -2054},
 {-4234, -1879},
 {-4099, -1623},
 {-4031, -1369},
 {-4170, -1050},
 {-4224, -1101}}], Polygon[{{-4023, -3306},
 {-4102, -3297},
 {-4023, -3306}}], Polygon[{{-4104, -3298},
 {-4085, -3343},
 {-4202, -3310},
 {-4103, -3298}}], Polygon[{{-4118, -3293},
 {-4321, -3271},
 {-4140, -3268},
 {-4225, -3166},
 {-4117, -3159},
 {-4118, -3293}}], Polygon[{{-4434, -2603},
 {-4410, -2511},
 {-4434, -2603}}]}},
 {RGBColor[0.9294860624765936, 0.4116454618949877, 0.032618552615825955], {Polygon[{{7462, 2406},
 {7271, 2323},
 {7313, 2400},
 {7312, 2459},
 {7192, 2399},
 {7067, 2297},
 {7136, 2241},
 {7362, 2244},
 {7157, 2104},
 {7314, 1904},
 {7177, 1941},
 {7313, 1858},
 {7209, 1812},
 {7328, 1793},
 {7226, 1633},
 {7146, 1569},
 {7031, 1417},
 {6857, 1336},
 {6804, 1386},
 {6813, 1331},
 {6698, 1291},
 {6621, 1286},
 {6595, 1214},
 {6591, 1243},
 {6597, 1289},
 {6479, 1293},
 {6487, 1287},
 {6331, 1391},
 {6128, 1344},
 {6069, 1294},
 {5934, 1446},
 {5852, 1436},
 {5923, 1552},
 {5889, 1688},
 {5841, 1693},
 {5765, 1768},
 {5499, 1666},
 {5400, 1699},
 {5335, 1639},
 {5289, 1672},
 {4861, 1812},
 {4704, 1952},
 {4770, 1959},
 {4734, 2038},
 {4812, 2106},
 {4669, 2130},
 {4474, 2222},
 {4494, 2234},
 {4440, 2403},
 {4816, 2523},
 {4792, 2694},
 {4954, 2708},
 {4982, 2833},
 {5141, 2832},
 {5240, 2946},
 {5270, 2950},
 {5454, 2817},
 {5442, 2719},
 {5724, 2656},
 {5783, 2564},
 {5783, 2565},
 {6314, 2504},
 {6608, 2559},
 {6718, 2622},
 {6720, 2706},
 {7194, 2800},
 {7106, 2880},
 {6935, 2873},
 {7003, 2990},
 {7154, 3001},
 {7202, 3166},
 {7322, 3205},
 {7537, 3183},
 {7652, 2988},
 {7840, 2932},
 {7859, 2862},
 {8084, 2896},
 {7987, 2707},
 {7857, 2690},
 {7836, 2545},
 {7462, 2406}}], Polygon[{{6574, 1199},
 {6657, 1198},
 {6632, 1127},
 {6521, 1110},
 {6575, 1199}}]}},
 {RGBColor[0.04157474330510054, 0.6353398934371433, 0.18411864729053404], {Polygon[{{-4279, 711},
 {-4492, 668},
 {-4605, 475},
 {-4642, 520},
 {-4673, 434},
 {-4622, 235},
 {-4729, 86},
 {-4517, -6},
 {-4376, -146},
 {-4206, -158},
 {-4243, -227},
 {-4197, -253},
 {-4203, 35},
 {-4147, 39},
 {-4191, 103},
 {-4012, 73},
 {-4071, 167},
 {-4047, 372},
 {-4320, 421},
 {-4403, 551},
 {-4279, 711}}]}},
 {RGBColor[0.8936727739912262, 0.5379512692888219, 0.752204213922156], {Polygon[{{670, -237},
 {722, -301},
 {785, -278},
 {954, -235},
 {1118, 209},
 {995, 209},
 {972, 133},
 {798, 130},
 {790, 74},
 {870, 56},
 {867, -114},
 {695, -140},
 {670, -237}}]}},
 {RGBColor[0.046919416838272485, 0.7034345921615602, 0.7710815129416263], {Polygon[{{-5019, 655},
 {-4954, 574},
 {-4974, 482},
 {-5140, 594},
 {-5141, 664},
 {-5019, 655}}]}},
 {RGBColor[0.7036796497216811, 0.7739091979622177, 0.6694969772388684], {Polygon[{{-452, 261},
 {-186, 305},
 {-186, 305},
 {-161, 569},
 {-161, 569},
 {-331, 627},
 {-331, 626},
 {-478, 610},
 {-478, 610},
 {-508, 454},
 {-508, 454},
 {-451, 261}}]}},
 {RGBColor[0.004663864806346639, 0.06534447262004786, 0.5393350620402733], {Polygon[{{1119, 2542},
 {874, 2718},
 {839, 2730},
 {943, 2748},
 {992, 2796},
 {1072, 2746},
 {1131, 2755},
 {1128, 2693},
 {1108, 2703},
 {957, 2710},
 {966, 2674},
 {982, 2651},
 {1118, 2550},
 {1119, 2542}}]}},
 {RGBColor[0.6865348760147565, 0.20888734971579653, 0.989215679126787], {Polygon[{{-5095, 1315},
 {-4868, 1393},
 {-4638, 1305},
 {-4448, 1211},
 {-4648, 1209},
 {-4913, 1361},
 {-5095, 1315}}]}},
 {RGBColor[0.6569598405378125, 0.4544110125246084, 0.45667942143805085], {Polygon[{{2075, 2140},
 {1982, 2074},
 {1936, 2104},
 {2075, 2140}}]}},
 {RGBColor[0.059729616650193405, 0.24531437864282482, 0.42179245990878245], {Polygon[{{991, 2890},
 {1066, 2965},
 {1147, 2993},
 {890, 3052},
 {726, 3019},
 {830, 2926},
 {991, 2890}}]}},
 {RGBColor[0.41510467813295027, 0.42438972321305013, 0.061195731352290776], {Polygon[{{520, 3294},
 {488, 3395},
 {597, 3423},
 {495, 3409},
 {633, 3464},
 {567, 3289},
 {520, 3295}}]}},
 {RGBColor[0.5281196859175562, 0.8771534088441284, 0.6721855092908942], {Polygon[{{2597, 691},
 {2551, 692},
 {2587, 763},
 {2506, 691},
 {2577, 660},
 {2597, 691}}]}},
 {RGBColor[0.014276314514018291, 0.824685093755996, 0.10607189590250206], {Polygon[{{-4306, 1182},
 {-4099, 1116},
 {-4307, 1083},
 {-4306, 1182}}]}},
 {RGBColor[0.9685058595692131, 0.24036711655180062, 0.1551881165171276], {Polygon[{{-4820, -202},
 {-4786, -121},
 {-4855, -139},
 {-4855, -62},
 {-4729, 86},
 {-4517, -6},
 {-4742, -300},
 {-4829, -266},
 {-4820, -202}}]}},
 {RGBColor[0.10140803109615543, 0.9031613869491653, 0.7010320545115274], {Polygon[{{2137, 1388},
 {1940, 1776},
 {2055, 1664},
 {2098, 1773},
 {2094, 1769},
 {2056, 1873},
 {2053, 1880},
 {1509, 1899},
 {1500, 1320},
 {2036, 1305},
 {2137, 1388}}]}},
 {RGBColor[0.4686532405023711, 0.8925206813803589, 0.9139457078223783], {Polygon[{{-5270, 806},
 {-5406, 825},
 {-5361, 866},
 {-5270, 806}}]}},
 {RGBColor[0.04407221397371489, 0.014242227977762723, 0.43584125994230805], {Polygon[{{588, 60},
 {589, 141},
 {680, 130},
 {681, 60},
 {588, 60}}]}},
 {RGBColor[0.8542160911721849, 0.7987578353308901, 0.5924497680689803], {Polygon[{{2188, 862},
 {2220, 1024},
 {2317, 1082},
 {2383, 905},
 {2587, 763},
 {2560, 739},
 {2330, 878},
 {2188, 862}}]}},
 {RGBColor[0.020736581809357772, 0.42982636795913476, 0.7375621039785993], {Polygon[{{1682, 3569},
 {1656, 3469},
 {1446, 3472},
 {1408, 3553},
 {1682, 3569}}]}},
 {RGBColor[0.06433008215142401, 0.14358317296522935, 0.7576408586682405], {Polygon[{{2188, 862},
 {2330, 878},
 {2560, 739},
 {2506, 691},
 {2577, 660},
 {2641, 540},
 {2879, 480},
 {2697, 294},
 {2514, 239},
 {2371, 206},
 {2156, 277},
 {1979, 476},
 {2057, 633},
 {2169, 762},
 {2188, 862}}]}},
 {RGBColor[0.723285789464581, 0.239644988395428, 0.0375112770627273], {Polygon[{{-3662, -3121},
 {-3553, -3084},
 {-3662, -3121}}], Polygon[{{-3583, -3127},
 {-3464, -3102},
 {-3583, -3127}}]}},
 {RGBColor[0.7891349990990274, 0.4829186729127804, 0.0844568718783004], {Polygon[{{10670, -1042},
 {10722, -1080},
 {10680, -1096}}]}},
 {RGBColor[0.9361032459665719, 0.8859736121498621, 0.781886618401253], {Polygon[{{1450, 3949},
 {1527, 3897},
 {1266, 3766},
 {1285, 3635},
 {1373, 3588},
 {1672, 3634},
 {1895, 3775},
 {1741, 4142},
 {1738, 4143},
 {1674, 4205},
 {1545, 4139},
 {1236, 4143},
 {1450, 3949}}]}},
 {RGBColor[0.6158036313759293, 0.04358256458621298, 0.9720279043274839], {Polygon[{{452, 2627},
 {446, 2625},
 {444, 2624},
 {233, 2613},
 {193, 2546},
 {105, 2550},
 {90, 2556},
 {-106, 2604},
 {-67, 2779},
 {-287, 2911},
 {-81, 2918},
 {-116, 2984},
 {0, 2960},
 {153, 3065},
 {349, 2972},
 {382, 2968},
 {494, 2938},
 {455, 2855},
 {358, 2773},
 {422, 2756},
 {452, 2627}}]}},
 {RGBColor[0.7378144044275381, 0.6015614033981665, 0.607741304643905], {Polygon[{{-3250, 321},
 {-3176, 327},
 {-3101, 242},
 {-3164, 140},
 {-3277, 140},
 {-3250, 321}}]}},
 {RGBColor[0.117811813155299, 0.939056569096648, 0.009111635329186267], {Polygon[{{588, 60},
 {523, -38},
 {670, -237},
 {695, -140},
 {867, -114},
 {870, 56},
 {790, 74},
 {798, 130},
 {680, 130},
 {681, 60},
 {588, 60}}]}},
 {RGBColor[0.5870047228345472, 0.6879854451961642, 0.20149446511804875], {Polygon[{{-994, 815},
 {-918, 807},
 {-1005, 782},
 {-1005, 784},
 {-828, 803},
 {-994, 815}}]}},
 {RGBColor[0.9447815531777622, 0.4434215498693178, 0.9303445865279237], {Polygon[{{2400, 2603},
 {2637, 2563},
 {2778, 2509},
 {2823, 2445},
 {2701, 2472},
 {2590, 2435},
 {2492, 2491},
 {2400, 2603}}]}},
 {RGBColor[0.47820867565346775, 0.7051365647823342, 0.4059102728065905], {Polygon[{{432, 3194},
 {590, 3212},
 {520, 3295},
 {567, 3289},
 {567, 3290},
 {654, 3237},
 {856, 3224},
 {854, 3236},
 {890, 3052},
 {726, 3019},
 {830, 2926},
 {783, 2850},
 {584, 2852},
 {574, 2852},
 {455, 2855},
 {494, 2938},
 {382, 2968},
 {368, 3008},
 {361, 3045},
 {432, 3194}}]}},
 {RGBColor[0.14120958742889628, 0.9952900027406874, 0.6206796929040339], {Polygon[{{-186, 305},
 {0, 337},
 {72, 366},
 {0, 636},
 {-5, 642},
 {0, 666},
 {-9, 668},
 {-170, 660},
 {-161, 569},
 {-186, 305}}]}},
 {RGBColor[0.4698070268400186, 0.2552359752790341, 0.21340338433943434], {Polygon[{{-322, 2170},
 {-323, 2169},
 {-322, 2169}}]}},
 {RGBColor[0.004876061528104609, 0.4262244622538056, 0.2832080709515502], {Polygon[{{1562, 2444},
 {1422, 2443},
 {1355, 2428},
 {1351, 2331},
 {1444, 2292},
 {1363, 2254},
 {1392, 2186},
 {1266, 2271},
 {1333, 2291},
 {1394, 2289},
 {1223, 2357},
 {1201, 2381},
 {1259, 2451},
 {1376, 2481},
 {1582, 2503},
 {1562, 2444}}]}},
 {RGBColor[0.47558897991189625, 0.40331465812993805, 0.8184831576099008], {Polygon[{{-2149, 3968},
 {-1949, 4117},
 {-1633, 4112},
 {-1338, 4200},
 {-1752, 4224},
 {-1525, 4276},
 {-1716, 4328},
 {-1294, 4228},
 {-1533, 4344},
 {-1647, 4407},
 {-1230, 4407},
 {-1327, 4475},
 {-1139, 4469},
 {-1346, 4510},
 {-1160, 4524},
 {-1348, 4610},
 {-1087, 4617},
 {-1322, 4661},
 {-967, 4830},
 {-1275, 4834},
 {-729, 4896},
 {-1468, 4832},
 {-1338, 4925},
 {-1514, 4920},
 {-1959, 4901},
 {-1279, 4956},
 {-2129, 4965},
 {-1540, 4997},
 {-1981, 5017},
 {-2801, 4981},
 {-2394, 4960},
 {-2745, 4966},
 {-2678, 4905},
 {-2992, 4897},
 {-3515, 4926},
 {-3387, 4880},
 {-3608, 4916},
 {-3948, 4748},
 {-4358, 4710},
 {-3964, 4650},
 {-4282, 4623},
 {-4110, 4565},
 {-3605, 4561},
 {-3354, 4301},
 {-3214, 4341},
 {-3029, 4231},
 {-3278, 4239},
 {-3013, 4201},
 {-3203, 4100},
 {-3009, 4076},
 {-3224, 4052},
 {-3058, 4074},
 {-3232, 4034},
 {-3022, 4030},
 {-3238, 4024},
 {-3209, 3966},
 {-3000, 4019},
 {-3208, 3959},
 {-3033, 3943},
 {-3154, 3919},
 {-3120, 3852},
 {-3000, 3892},
 {-3028, 3803},
 {-2894, 3649},
 {-2713, 3672},
 {-2707, 3604},
 {-2586, 3606},
 {-2548, 3704},
 {-2589, 3765},
 {-2467, 3907},
 {-2149, 3968}}], Polygon[{{-3258, 4219},
 {-3110, 4178},
 {-3214, 4154},
 {-3258, 4219}}]}},
 {RGBColor[0.16539625779625122, 0.5365324108152482, 0.3942030228007518], {Polygon[{{-5335, 954},
 {-5293, 943},
 {-5361, 866},
 {-5406, 825},
 {-5535, 873},
 {-5504, 964},
 {-5426, 966},
 {-5459, 1069},
 {-5348, 1069},
 {-5335, 954}}]}},
 {RGBColor[0.23147843477535357, 0.477410812600087, 0.33503794569719947], {Polygon[{{-798, 542},
 {-901, 657},
 {-823, 761},
 {-681, 748},
 {-682, 744},
 {-539, 744},
 {-479, 609},
 {-478, 610},
 {-508, 454},
 {-616, 509},
 {-673, 600},
 {-798, 542}}]}},
 {RGBColor[0.44942146962298957, 0.7880568849060358, 0.5470662260721633], {Polygon[{{-1003, 739},
 {-900, 718},
 {-930, 680},
 {-901, 657},
 {-823, 761},
 {-1003, 739}}]}},
 {RGBColor[0.8568292700437318, 0.7442849048406553, 0.3821466120994453], {Polygon[{{-3435, 329},
 {-3521, 383},
 {-3509, 442},
 {-3599, 512},
 {-3683, 357},
 {-3644, 312},
 {-3580, 263},
 {-3555, 83},
 {-3388, 117},
 {-3483, 240},
 {-3435, 329}}]}},
 {RGBColor[0.40585663864326704, 0.8615392673030444, 0.12360521193662145], {Polygon[{{-4306, 1082},
 {-4469, 1106},
 {-4341, 1112},
 {-4407, 1185},
 {-4305, 1182},
 {-4306, 1082}}]}},
 {RGBColor[0.9123395852594267, 0.15062066336423294, 0.64813588296361], {Polygon[{{-5293, 943},
 {-4988, 900},
 {-5238, 779},
 {-5270, 806},
 {-5361, 866},
 {-5293, 943}}]}},
 {RGBColor[0.11872915040851684, 0.48611512300562104, 0.8674125924126828], {Polygon[{{1374, 2877},
 {1329, 2905},
 {1030, 2881},
 {967, 2812},
 {1072, 2746},
 {1216, 2767},
 {1374, 2877}}]}},
 {RGBColor[0.17254690305171377, 0.7154144922785788, 0.6676319653957203], {Polygon[{{-1282, 3831},
 {-1443, 3892},
 {-1302, 3927},
 {-1472, 3930},
 {-1387, 3986},
 {-1265, 3910},
 {-970, 3992},
 {-818, 3928},
 {-1090, 3808},
 {-1282, 3831}}]}},
 {RGBColor[0.7020163346164315, 0.6360144922364656, 0.32121146947782697], {Polygon[{{5342, 1315},
 {5274, 1345},
 {5185, 1199},
 {4817, 942},
 {4791, 670},
 {4767, 549},
 {4618, 504},
 {4398, 991},
 {4375, 1336},
 {4327, 1272},
 {4244, 1243},
 {4137, 1338},
 {4230, 1386},
 {4092, 1426},
 {4266, 1465},
 {4171, 1620},
 {4314, 1678},
 {4481, 1864},
 {4523, 1937},
 {4437, 2079},
 {4669, 2130},
 {4812, 2106},
 {4734, 2038},
 {4770, 1959},
 {4704, 1952},
 {4862, 1812},
 {4804, 1730},
 {4966, 1650},
 {5240, 1581},
 {5289, 1672},
 {5335, 1639},
 {5499, 1666},
 {5765, 1768},
 {5841, 1693},
 {5828, 1625},
 {5708, 1597},
 {5556, 1319},
 {5537, 1418},
 {5497, 1377},
 {5470, 1418},
 {5544, 1502},
 {5391, 1517},
 {5305, 1598},
 {5341, 1517},
 {5342, 1315}}]}},
 {RGBColor[0.4361535306203667, 0.2246055220163445, 0.3009765465392661], {Polygon[{{5714, 334},
 {5851, 315},
 {6176, 42},
 {6146, 15},
 {6224, 17},
 {6263, -62},
 {6272, -166},
 {6365, -194},
 {6347, -350},
 {6280, -356},
 {6096, -193},
 {5714, 334}}], Polygon[{{5952, -106},
 {5933, -55},
 {5952, -106}}], Polygon[{{6353, -89},
 {6391, -186},
 {6308, -124},
 {6354, -90}}], Polygon[{{6579, 124},
 {6547, -30},
 {6614, -179},
 {6712, -214},
 {6878, -251},
 {6960, -213},
 {6973, -107},
 {7074, 67},
 {7141, 59},
 {7022, 216},
 {7055, 250},
 {6952, 262},
 {6893, 124},
 {6634, 51},
 {6579, 124}}], Polygon[{{6594, -470},
 {6874, -527},
 {6866, -468},
 {6661, -386},
 {6422, -355},
 {6313, -406},
 {6594, -470}}], Polygon[{{6776, -414},
 {6848, -417},
 {6777, -414}}], Polygon[{{6869, -486},
 {6943, -504},
 {6869, -485}}], Polygon[{{6980, -493},
 {6961, -535},
 {6981, -493}}], Polygon[{{7033, -503},
 {7140, -503},
 {7023, -547},
 {7033, -503}}], Polygon[{{7142, -566},
 {7249, -599},
 {7142, -566}}], Polygon[{{7216, -496},
 {7380, -495},
 {7261, -537},
 {7194, -532},
 {7217, -496}}], Polygon[{{7468, -488},
 {7508, -500},
 {7468, -488}}], Polygon[{{7506, -568},
 {7638, -504},
 {7509, -518},
 {7408, -622},
 {7506, -568}}], Polygon[{{7899, -427},
 {7868, -481},
 {7899, -427}}], Polygon[{{7175, -337},
 {7126, -186},
 {7202, 43},
 {7515, 90},
 {7455, 22},
 {7215, 21},
 {7240, -84},
 {7407, -46},
 {7278, -108},
 {7374, -264},
 {7292, -264},
 {7246, -157},
 {7221, -263},
 {7204, -335}}], Polygon[{{7413, -78},
 {7368, -87},
 {7413, -79}}], Polygon[{{7465, -99},
 {7519, -113},
 {7465, -99}}], Polygon[{{7525, -107},
 {7581, -109},
 {7525, -107}}], Polygon[{{7363, -277},
 {7337, -323},
 {7363, -277}}], Polygon[{{7385, -264},
 {7369, -341},
 {7384, -264}}], Polygon[{{7568, -187},
 {7635, -202},
 {7568, -187}}], Polygon[{{7691, -172},
 {7835, -188},
 {7850, -232},
 {7675, -214},
 {7691, -172}}], Polygon[{{8071, -326},
 {8060, -374},
 {8071, -326}}], Polygon[{{7734, 12},
 {7675, 12},
 {7706, -55},
 {7654, 25},
 {7683, 132},
 {7658, 55},
 {7734, 12}}], Polygon[{{8313, -443},
 {8334, -485},
 {8259, -506},
 {8314, -443}}], Polygon[{{8460, -548},
 {8409, -473},
 {8335, -498},
 {8284, -324},
 {8038, -231},
 {8032, -176},
 {7974, -245},
 {7917, -167},
 {8036, -126},
 {7857, -86},
 {7946, -21},
 {8054, -86},
 {8107, -202},
 {8271, -88},
 {8460, -156},
 {8460, -156},
 {8460, -548}}]}},
 {RGBColor[0.8717899998548374, 0.6480966457143309, 0.6775392959441813], {Polygon[{{3697, 1512},
 {3467, 1538},
 {3223, 1602},
 {3008, 1797},
 {2912, 1798},
 {2724, 2038},
 {2781, 2148},
 {2688, 2230},
 {2688, 2379},
 {2770, 2330},
 {2888, 2376},
 {2933, 2307},
 {3066, 2204},
 {3234, 2241},
 {3432, 2297},
 {3574, 2233},
 {3677, 2136},
 {3635, 1984},
 {3711, 1861},
 {3652, 1792},
 {3800, 1628},
 {3697, 1512}}]}},
 {RGBColor[0.44414727649553437, 0.12750509501418208, 0.2659500336148857], {Polygon[{{2877, 1801},
 {2912, 1798},
 {2724, 2038},
 {2781, 2148},
 {2688, 2230},
 {2541, 2226},
 {2460, 2065},
 {2328, 2002},
 {2358, 1934},
 {2683, 1752},
 {2793, 1746},
 {2877, 1801}}]}},
 {RGBColor[0.27168265730091423, 0.58260800919249, 0.003899883077560624], {Polygon[{{-376, 3245},
 {-382, 3131},
 {-586, 3087},
 {-628, 3131},
 {-524, 3160},
 {-607, 3246},
 {-435, 3303},
 {-489, 3266},
 {-376, 3245}}]}},
 {RGBColor[0.353610448355459, 0.12106199393668127, 0.93447212622888], {Polygon[{{2053, 1880},
 {2106, 1986},
 {2132, 1994},
 {2137, 1995},
 {2140, 1995},
 {2139, 1961},
 {2129, 1890},
 {2098, 1773},
 {2094, 1769},
 {2056, 1873},
 {2053, 1880}}]}},
 {RGBColor[0.8851707326690438, 0.867495325349838, 0.25364940152399856], {Polygon[{{823, 2736},
 {736, 2727},
 {743, 2653},
 {1111, 2408},
 {997, 2406},
 {964, 2275},
 {940, 2402},
 {666, 2544},
 {606, 2641},
 {452, 2627},
 {422, 2756},
 {628, 2813},
 {823, 2792},
 {823, 2736}}], Polygon[{{937, 2295},
 {905, 2199},
 {745, 2268},
 {937, 2295}}], Polygon[{{555, 2475},
 {531, 2333},
 {488, 2444},
 {555, 2475}}]}},
 {RGBColor[0.7619252231771662, 0.16975624039046502, 0.19986335995411766], {Polygon[{{-4702, 1096}}]}},
 {RGBColor[0.5516330669075671, 0.12591073094070057, 0.848544770912638], {Polygon[{{7899, 1947},
 {7861, 2037},
 {7775, 2001},
 {7840, 1860},
 {7899, 1947}}], Polygon[{{8076, 2045},
 {7981, 1962},
 {7921, 2000},
 {8076, 2044}}], Polygon[{{8468, 2486},
 {8524, 2373},
 {8420, 2108},
 {8331, 2076},
 {8211, 2105},
 {8146, 2006},
 {8120, 2083},
 {7853, 2036},
 {7985, 2135},
 {8206, 2241},
 {8313, 2242},
 {8468, 2486}}], Polygon[{{8517, 2731},
 {8626, 2646},
 {8749, 2602},
 {8594, 2515},
 {8428, 2554},
 {8472, 2508},
 {8402, 2487},
 {8484, 2597},
 {8518, 2730}}], Polygon[{{7697, 1612},
 {7659, 1565},
 {7697, 1611}}]}},
 {RGBColor[0.763709829333751, 0.3270275448912225, 0.8249341844014345], {Polygon[{{2098, 1762},
 {2099, 1773},
 {2129, 1890},
 {2139, 1961},
 {2328, 2003},
 {2358, 1934},
 {2220, 1890},
 {2250, 1800},
 {2098, 1762}}]}},
 {RGBColor[0.9767547710578007, 0.11561318361941997, 0.6494882489470413], {Polygon[{{2953, 2782},
 {3072, 2827},
 {3190, 2777},
 {3195, 2720},
 {3094, 2671},
 {3013, 2674},
 {3170, 2502},
 {3360, 2490},
 {3360, 2700},
 {3520, 2730},
 {3730, 2610},
 {4075, 2477},
 {4170, 2480},
 {4261, 2538},
 {4461, 2592},
 {4695, 2568},
 {4816, 2523},
 {4792, 2694},
 {4954, 2708},
 {4982, 2833},
 {5141, 2832},
 {5240, 2946},
 {5269, 2948},
 {5012, 3027},
 {4768, 3086},
 {4638, 3262},
 {4471, 3227},
 {4238, 3308},
 {3695, 3246},
 {3653, 3047},
 {3247, 3067},
 {3064, 3097},
 {2811, 2965},
 {2953, 2782}}]}},
 {RGBColor[0.38078690790590014, 0.8492496760436186, 0.8496631500045343], {Polygon[{{2494, -100},
 {2352, -280},
 {2035, -60},
 {2102, 115},
 {2040, 253},
 {2156, 277},
 {2371, 206},
 {2515, 239},
 {2459, 170},
 {2494, -100}}]}},
 {RGBColor[0.3778055916461271, 0.7981788987134102, 0.845349792966058], {Polygon[{{2905, 1713},
 {2877, 1801},
 {2793, 1746},
 {2905, 1713}}]}},
 {RGBColor[0.49605270164907533, 0.2567435977094458, 0.8637067724845302], {Polygon[{{4450, 2372},
 {4291, 2354},
 {4174, 2396},
 {4380, 2456},
 {4274, 2467},
 {4261, 2538},
 {4461, 2592},
 {4695, 2568},
 {4816, 2523},
 {4440, 2403},
 {4450, 2372}}]}},
 {RGBColor[0.9601790602970142, 0.6285573762992374, 0.003094196185447256], {Polygon[{{6005, 1221},
 {6069, 1294},
 {6128, 1344},
 {6190, 1251},
 {6279, 1240},
 {6233, 1158},
 {6448, 965},
 {6453, 882},
 {6313, 861},
 {6283, 1050},
 {6204, 1106},
 {6055, 1054},
 {6077, 1174},
 {6005, 1221}}]}},
 {RGBColor[0.10178154930736406, 0.7904228199065492, 0.42869401634511967], {Polygon[{{1446, 3472},
 {1656, 3469},
 {1686, 3361},
 {1580, 3332},
 {1479, 3383},
 {1280, 3363},
 {1285, 3432},
 {1464, 3434},
 {1446, 3472}}]}},
 {RGBColor[0.45146112927788024, 0.9758708183666635, 0.9418780489939111], {Polygon[{{2158, 2079},
 {2106, 1986},
 {2132, 1994},
 {2137, 1995},
 {2158, 2079}}]}},
 {RGBColor[0.6649841870113687, 0.1244335843866577, 0.15093663396522902], {Polygon[{{-690, 416},
 {-452, 261},
 {-508, 454},
 {-616, 509},
 {-690, 416}}]}},
 {RGBColor[0.9651232779361104, 0.5493710033919488, 0.4749453354396164], {Polygon[{{692, 1990},
 {955, 1879},
 {1160, 1817},
 {1303, 1977},
 {1509, 1899},
 {1500, 1320},
 {1500, 1320},
 {1500, 1200},
 {1440, 1170},
 {960, 1410},
 {898, 1379},
 {720, 1411},
 {564, 1569},
 {572, 1814},
 {692, 1990}}]}},
 {RGBColor[0.7701497260593289, 0.11587360189249182, 0.6997078533874145], {Polygon[{{576, 2824},
 {572, 2837},
 {572, 2836},
 {576, 2824}}]}},
 {RGBColor[0.09713974379348936, 0.9719708273459188, 0.27052380892643385], {Polygon[{{1280, 3363},
 {1479, 3383},
 {1580, 3332},
 {1519, 3249},
 {1410, 3237},
 {1369, 3242},
 {1373, 3286},
 {1277, 3320},
 {1280, 3363}}]}},
 {RGBColor[0.20365515173833917, 0.8403961460840436, 0.10826405486138851], {Polygon[{{368, 3008},
 {382, 2968},
 {349, 2973},
 {368, 3008}}]}},
 {RGBColor[0.31034474862941963, 0.5750977754391018, 0.8373019498985963], {Polygon[{{1232, 2506},
 {1274, 2533},
 {1371, 2534},
 {1376, 2480},
 {1259, 2451},
 {1232, 2506}}]}},
 {RGBColor[0.00648250555402444, 0.5199219287228705, 0.14640375909398215], {Polygon[{{2599, -1312},
 {2671, -1197},
 {2668, -971},
 {2880, -886},
 {2957, -717},
 {3030, -919},
 {2978, -933},
 {2828, -1499},
 {2644, -1497},
 {2599, -1312}}]}},
 {RGBColor[0.38584082062071606, 0.03061168718736095, 0.5780438797289593], {Polygon[{{1979, -569},
 {2060, -584},
 {2097, -694},
 {2074, -801},
 {2155, -893},
 {2117, -1028},
 {2072, -875},
 {1993, -841},
 {1979, -569}}]}},
 {RGBColor[0.4814195720826134, 0.26140723623405837, 0.8796750532221319], {Polygon[{{6579, 124},
 {6634, 51},
 {6893, 124},
 {6952, 262},
 {7056, 250},
 {7157, 321},
 {7048, 352},
 {7029, 420},
 {6909, 294},
 {6902, 289},
 {6901, 292},
 {6845, 275},
 {6687, 161},
 {6683, 81},
 {6579, 124}}], Polygon[{{6008, 385},
 {6077, 170},
 {6211, 76},
 {6258, 87},
 {6207, 288},
 {6126, 374},
 {6069, 338},
 {6008, 385}}]}},
 {RGBColor[0.6129206017928489, 0.9320485686906647, 0.7864619007944419], {Polygon[{{255, 1149},
 {0, 1310},
 {-288, 1500},
 {-395, 1500},
 {-330, 930},
 {-690, 939},
 {-723, 884},
 {-735, 886},
 {-681, 748},
 {-682, 744},
 {-539, 744},
 {-478, 610},
 {-331, 626},
 {-238, 810},
 {0, 900},
 {14, 900},
 {233, 943},
 {255, 1149}}]}},
 {RGBColor[0.10952532716280305, 0.4970469999003571, 0.23234071530325012], {Polygon[{{-1023, 1246},
 {-972, 1213},
 {-992, 963},
 {-803, 962},
 {-723, 883},
 {-690, 939},
 {-330, 930},
 {-395, 1500},
 {-288, 1500},
 {-520, 1638},
 {-520, 1560},
 {-720, 1560},
 {-786, 1374},
 {-780, 1280},
 {-1023, 1246}}]}},
 {RGBColor[0.6893221570009526, 0.13755449981688433, 0.22652319097392326], {Polygon[{{-5828, 1558},
 {-5873, 1356},
 {-5752, 1123},
 {-5471, 1120},
 {-5482, 1132},
 {-5420, 1262},
 {-5227, 1297},
 {-5298, 1109},
 {-5348, 1069},
 {-5459, 1069},
 {-5426, 966},
 {-5504, 964},
 {-5535, 873},
 {-5567, 905},
 {-5535, 873},
 {-5692, 986},
 {-5867, 958},
 {-6209, 1100},
 {-6327, 1195},
 {-6343, 1352},
 {-6564, 1538},
 {-6730, 1738},
 {-6785, 1874},
 {-6902, 1917},
 {-6772, 1697},
 {-6571, 1388},
 {-6726, 1484},
 {-6901, 1664},
 {-6844, 1711},
 {-7027, 1952},
 {-6883, 1963},
 {-6543, 1880},
 {-6391, 1907},
 {-6243, 1760},
 {-6050, 1757},
 {-5945, 1584},
 {-5828, 1558}}]}},
 {RGBColor[0.02868556356491097, 0.848926010916909, 0.029290444955495817], {Polygon[{{1600, 2895},
 {1697, 2889},
 {1778, 2811},
 {1690, 2728},
 {1600, 2895}}]}},
 {RGBColor[0.9161784423445036, 0.45358778812580913, 0.011624061018312738], {Polygon[{{447, 2625},
 {443, 2623},
 {443, 2624},
 {446, 2625}}]}},
 {RGBColor[0.022807939401471376, 0.39625651362163317, 0.307184029031827], {Polygon[{{5271, 2950},
 {5454, 2817},
 {5442, 2719},
 {5724, 2656},
 {5783, 2564},
 {6315, 2504},
 {6608, 2559},
 {6718, 2622},
 {6720, 2706},
 {7194, 2800},
 {7106, 2880},
 {6935, 2873},
 {7003, 2990},
 {6513, 2960},
 {6199, 3012},
 {5936, 3129},
 {5840, 2984},
 {5543, 3052},
 {5271, 2950}}]}},
 {RGBColor[0.6257832403975967, 0.9921962522141105, 0.8182126338926738], {Polygon[{{-132, 2106},
 {-325, 2155},
 {-374, 2101},
 {-557, 1953},
 {-614, 1759},
 {-791, 1660},
 {-520, 1660},
 {-520, 1723},
 {-218, 1858},
 {-229, 1902},
 {-71, 1926},
 {-132, 2106}}]}},
 {RGBColor[0.8257644569492136, 0.36437600416353827, 0.11252119899197849], {Polygon[{{2426, -629},
 {2440, -917},
 {2074, -1177},
 {2130, -1446},
 {1969, -1536},
 {1974, -1611},
 {1928, -1610},
 {1918, -1557},
 {1878, -1345},
 {1982, -1202},
 {1979, -1003},
 {1825, -938},
 {1993, -841},
 {2072, -875},
 {2117, -1028},
 {2155, -893},
 {2074, -801},
 {2097, -694},
 {2426, -629}}]}},
 {RGBColor[0.20529203209982494, 0.893715888258549, 0.5779141033690963], {Polygon[{{706, -1035},
 {872, -1361},
 {867, -1388},
 {989, -1715},
 {1200, -1706},
 {1200, -1486},
 {1200, -1320},
 {1260, -1099},
 {1516, -1068},
 {1409, -1058},
 {831, -1040},
 {706, -1035}}]}},
 {RGBColor[0.0029958718291754277, 0.7082450321994679, 0.6613751729552989], {Polygon[{{4861, 1812},
 {5289, 1672},
 {5240, 1581},
 {4966, 1650},
 {4804, 1730},
 {4861, 1812}}]}},
 {RGBColor[0.8885919463681438, 0.8654413720122911, 0.48172184122554457], {Polygon[{{202, 3082},
 {284, 3178},
 {433, 3195},
 {361, 3045},
 {202, 3082}}]}},
 {RGBColor[0.6326896093903879, 0.03966593545123471, 0.8361509270567953], {Polygon[{{10441, -2501},
 {10363, -2430},
 {10288, -2505},
 {10004, -2773},
 {10247, -2753},
 {10229, -2685},
 {10332, -2634},
 {10257, -2598},
 {10365, -2596},
 {10441, -2501}}], Polygon[{{10616, -2381},
 {10514, -2497},
 {10521, -2412},
 {10428, -2365},
 {10497, -2224},
 {10362, -2065},
 {10560, -2258},
 {10713, -2262},
 {10616, -2381}}]}},
 {RGBColor[0.565543398881041, 0.17910182126457877, 0.028041874432921967], {Polygon[{{-4988, 900},
 {-5019, 655},
 {-5141, 664},
 {-5240, 778},
 {-4988, 900}}]}},
 {RGBColor[0.8133429876553239, 0.16928688525940777, 0.8719177922327518], {Polygon[{{898, 1379},
 {719, 1411},
 {255, 1149},
 {233, 943},
 {14, 900},
 {144, 714},
 {214, 705},
 {216, 702},
 {293, 827},
 {578, 768},
 {818, 823},
 {929, 1014},
 {960, 1221},
 {898, 1379}}]}},
 {RGBColor[0.4022586340353253, 0.8211467354412135, 0.3510742513667339], {Polygon[{{515, 288},
 {366, 256},
 {317, 354},
 {163, 382},
 {214, 705},
 {216, 702},
 {293, 827},
 {578, 768},
 {818, 823},
 {845, 784},
 {879, 694},
 {713, 425},
 {588, 408},
 {515, 288}}]}},
 {RGBColor[0.04615333528353814, 0.037882629871787026, 0.708625536449235], {Polygon[{{7702, 2317},
 {7650, 2383},
 {7841, 2538},
 {7836, 2545},
 {7462, 2406},
 {7539, 2318},
 {7480, 2287},
 {7602, 2270},
 {7702, 2317}}]}},
 {RGBColor[0.14578221926690899, 0.15243744702498915, 0.4599685265026907], {Polygon[{{1847, 4187},
 {1864, 4217},
 {1746, 4252},
 {1659, 4267},
 {1522, 4258},
 {1086, 4159},
 {791, 4000},
 {573, 3826},
 {687, 3827},
 {413, 3775},
 {305, 3731},
 {409, 3712},
 {312, 3666},
 {462, 3674},
 {311, 3639},
 {426, 3630},
 {311, 3570},
 {396, 3484},
 {634, 3593},
 {686, 3539},
 {728, 3815},
 {1235, 4143},
 {1545, 4139},
 {1674, 4205},
 {1738, 4143},
 {1741, 4142},
 {1851, 4188}}], Polygon[{{1491, 4821},
 {1435, 4751},
 {1067, 4808},
 {1491, 4821}}], Polygon[{{641, 4772},
 {780, 4692},
 {1038, 4705},
 {815, 4683},
 {981, 4594},
 {1293, 4726},
 {978, 4804},
 {987, 4734},
 {641, 4772}}]}},
 {RGBColor[0.7056296646200596, 0.43753718706744116, 0.4910622740696903], {Polygon[{{3186, 998},
 {3468, 1138},
 {3588, 1333},
 {3396, 1470},
 {3350, 1390},
 {3400, 1320},
 {3119, 1140},
 {3186, 998}}]}},
 {RGBColor[0.571376580134547, 0.8401882926077685, 0.9558153458418965], {Polygon[{{3697, 1512},
 {4002, 1507},
 {4092, 1426},
 {4266, 1465},
 {4171, 1620},
 {4314, 1678},
 {4481, 1864},
 {4523, 1937},
 {4437, 2079},
 {4669, 2130},
 {4474, 2222},
 {4298, 2188},
 {4194, 2041},
 {4160, 1916},
 {4003, 1873},
 {3975, 1791},
 {3652, 1792},
 {3800, 1628},
 {3697, 1512}}]}},
 {RGBColor[0.8583726646793024, 0.5317106446833122, 0.004037365550973183], {Polygon[{{-4954, 574},
 {-4802, 556},
 {-4790, 562},
 {-4642, 521},
 {-4673, 434},
 {-4687, 513},
 {-4772, 536},
 {-4776, 533},
 {-4826, 435},
 {-4974, 482},
 {-4954, 574}}]}},
 {RGBColor[0.3902719469608556, 0.6792708434147237, 0.5036687702503903], {Polygon[{{8460, -156},
 {8849, -359},
 {8831, -448},
 {9053, -614},
 {8863, -606},
 {8671, -450},
 {8528, -494},
 {8600, -542},
 {8460, -548},
 {8460, -156}}], Polygon[{{9131, -249},
 {9062, -363},
 {8902, -329},
 {9056, -329},
 {9131, -249}}]}},
 {RGBColor[0.19069437789564928, 0.2209850617014478, 0.8073530511819719], {Polygon[{{-3276, -1534},
 {-3335, -1637},
 {-3516, -1639},
 {-3465, -1511},
 {-3759, -1334},
 {-3705, -1179},
 {-3490, -1210},
 {-3479, -1325},
 {-3351, -1337},
 {-3324, -1438},
 {-3255, -1443},
 {-3276, -1534}}]}},
 {RGBColor[0.10141013621506496, 0.3695476424544358, 0.8699108103347138], {Polygon[{{-4224, -1101},
 {-4577, -850},
 {-4726, -515},
 {-4871, -360},
 {-4820, -202},
 {-4829, -266},
 {-4742, -300},
 {-4517, -6},
 {-4376, -146},
 {-4206, -158},
 {-4243, -227},
 {-4197, -253},
 {-4374, -308},
 {-4441, -452},
 {-4392, -564},
 {-4231, -566},
 {-4238, -661},
 {-4174, -657},
 {-4120, -750},
 {-4170, -1050},
 {-4224, -1101}}]}},
 {RGBColor[0.7611997158984337, 0.06352750634327793, 0.6609221060052008], {Polygon[{{7337, 1104},
 {7283, 917},
 {7317, 839},
 {7436, 827},
 {7445, 753},
 {7352, 838},
 {7356, 790},
 {7238, 828},
 {7187, 979},
 {7236, 1112},
 {7338, 1104}}], Polygon[{{7396, 755},
 {7444, 704},
 {7396, 755}}], Polygon[{{7222, 811},
 {7293, 787},
 {7267, 734},
 {7223, 811}}], Polygon[{{7527, 588},
 {7597, 436},
 {7572, 376},
 {7540, 435},
 {7524, 335},
 {7421, 469},
 {7313, 426},
 {7404, 523},
 {7421, 478},
 {7531, 540},
 {7527, 589}}], Polygon[{{7466, 606},
 {7428, 585},
 {7467, 606}}], Polygon[{{7412, 653},
 {7393, 546},
 {7344, 590},
 {7412, 653}}], Polygon[{{7322, 714},
 {7390, 688},
 {7316, 626},
 {7322, 714}}], Polygon[{{7171, 685},
 {7183, 630},
 {7031, 500},
 {7171, 684}}]}},
 {RGBColor[0.7241285910678049, 0.6087622688734445, 0.6035589798405873], {Polygon[{{854, 3236},
 {1177, 3268},
 {1410, 3237},
 {1416, 3091},
 {1353, 2945},
 {890, 3052},
 {854, 3236}}]}},
 {RGBColor[0.9552924413851412, 0.2865914040003637, 0.1176999948037543], {Polygon[{{-445, 2231},
 {-535, 2231},
 {-570, 2323},
 {-525, 2518},
 {-371, 2495},
 {-445, 2231}}]}},
 {RGBColor[0.0321823997060403, 0.11510414877737278, 0.33077605815846717], {Polygon[{{-4036, 1103}}]}},
 {RGBColor[0.2593273301244519, 0.5004717550227281, 0.1110667832263996], {Polygon[{{3073, 1477},
 {3075, 1569},
 {3050, 1485},
 {3073, 1477}}]}},
 {RGBColor[0.9405041111976116, 0.5800564867097283, 0.9968029847723378], {Polygon[{{1780, 2713},
 {1715, 2625},
 {1361, 2653},
 {1216, 2767},
 {1374, 2877},
 {1600, 2895},
 {1690, 2728},
 {1780, 2713}}]}},
 {RGBColor[0.9203724053307503, 0.7195190494961637, 0.7727034355277564], {{Polygon[{{10800, 4104},
 {10567, 4193},
 {10233, 4188},
 {10237, 4125},
 {9746, 4180},
 {9663, 4112},
 {9555, 4249},
 {9152, 4247},
 {8896, 4339},
 {8693, 4300},
 {8816, 4339},
 {8811, 4341},
 {8439, 4374},
 {8402, 4288},
 {7861, 4244},
 {7118, 4414},
 {6809, 4410},
 {6817, 4357},
 {6678, 4432},
 {6304, 4367},
 {6823, 4524},
 {6666, 4605},
 {6244, 4664},
 {6135, 4583},
 {5929, 4590},
 {6011, 4510},
 {5928, 4576},
 {5152, 4483},
 {5207, 4379},
 {5207, 4434},
 {4831, 4414},
 {4990, 4205},
 {4996, 4303},
 {4711, 4344},
 {4575, 4295},
 {4707, 4253},
 {4530, 4294},
 {4500, 4373},
 {4450, 4225},
 {4428, 4148},
 {4658, 4134},
 {4743, 4054},
 {4593, 4139},
 {4320, 3973},
 {4138, 4008},
 {4389, 4063},
 {4370, 4362},
 {4139, 4360},
 {3997, 4263},
 {4119, 4099},
 {3903, 4156},
 {3579, 4100},
 {3193, 4132},
 {2854, 4012},
 {2695, 4041},
 {2760, 4108},
 {2648, 4077},
 {2651, 3952},
 {2391, 3937},
 {2430, 3872},
 {2211, 3911},
 {2252, 3829},
 {2120, 3860},
 {2085, 3873},
 {2050, 3972},
 {1913, 4030},
 {2278, 3965},
 {2482, 4032},
 {1847, 4187},
 {1851, 4188},
 {1741, 4142},
 {1895, 3775},
 {1671, 3634},
 {1815, 3598},
 {1682, 3569},
 {1656, 3469},
 {1686, 3361},
 {1799, 3350},
 {1903, 3222},
 {1898, 3124},
 {2033, 3101},
 {2374, 2971},
 {2396, 2867},
 {2296, 2827},
 {2363, 2827},
 {2264, 2800},
 {2314, 2762},
 {2195, 2711},
 {2400, 2603},
 {2637, 2563},
 {2778, 2509},
 {2871, 2473},
 {2915, 2510},
 {2801, 2671},
 {2953, 2782},
 {2811, 2965},
 {3064, 3097},
 {3247, 3067},
 {3653, 3047},
 {3695, 3246},
 {4238, 3308},
 {4471, 3227},
 {4638, 3262},
 {4768, 3086},
 {5012, 3027},
 {5240, 2946},
 {5271, 2950},
 {5543, 3052},
 {5840, 2984},
 {5936, 3129},
 {6199, 3012},
 {6513, 2960},
 {7003, 2990},
 {7154, 3001},
 {7202, 3166},
 {7322, 3205},
 {7537, 3183},
 {7652, 2988},
 {7840, 2932},
 {7859, 2862},
 {8084, 2896},
 {7987, 2707},
 {7857, 2690},
 {7836, 2545},
 {7842, 2537},
 {7842, 2537},
 {7842, 2537},
 {7909, 2600},
 {8108, 2610},
 {8411, 2907},
 {8485, 3197},
 {8385, 3259},
 {8239, 3212},
 {8264, 3259},
 {8113, 3296},
 {8555, 3554},
 {8977, 3586},
 {9174, 3534},
 {9311, 3550},
 {9254, 3593},
 {9449, 3708},
 {9622, 3706},
 {9608, 3635},
 {9686, 3668},
 {9796, 3753},
 {9939, 3747},
 {9357, 3400},
 {9399, 3053},
 {9727, 3286},
 {9801, 3372},
 {9716, 3484},
 {9818, 3602},
 {10153, 3637},
 {10215, 3595},
 {10619, 3772},
 {10746, 3737},
 {10691, 3867},
 {10466, 3881},
 {10769, 3889},
 {10800, 3925},
 {10800, 3925},
 {10800, 3925},
 {10800, 4104}}], Polygon[{{-10800, 3925},
 {-10751, 3985},
 {-10391, 3855},
 {-10371, 3942},
 {-10183, 3968},
 {-10421, 4028},
 {-10468, 3978},
 {-10800, 4104},
 {-10800, 4104},
 {-10800, 3925},
 {-10800, 3925}}]},
 Polygon[{{1277, 3320},
 {1373, 3286},
 {1369, 3242},
 {1178, 3268},
 {1275, 3297},
 {1277, 3320}}], Polygon[{{8510, 3189},
 {8525, 2753},
 {8617, 2782},
 {8595, 2963},
 {8685, 2918},
 {8581, 3248},
 {8510, 3189}}], Polygon[{{9314, 3003},
 {9364, 3047},
 {9314, 3003}}], Polygon[{{8469, 4433},
 {8609, 4399},
 {8470, 4433}}], Polygon[{{8790, 4535},
 {9057, 4508},
 {8790, 4535}}], Polygon[{{8390, 4488},
 {8622, 4496},
 {8724, 4531},
 {8324, 4573},
 {8215, 4516},
 {8404, 4489}}], Polygon[{{5968, 4677},
 {6322, 4710},
 {6142, 4766},
 {5967, 4677}}], Polygon[{{5968, 4755},
 {5852, 4810},
 {5571, 4773},
 {5967, 4755}}], Polygon[{{3084, 4307},
 {3226, 4398},
 {3394, 4390},
 {3458, 4244},
 {3084, 4308}}], Polygon[{{3419, 4481},
 {3243, 4402},
 {4110, 4617},
 {3418, 4481}}]}},
 {RGBColor[0.8953928485572729, 0.5508247628763145, 0.8496082391614499], {Polygon[{{1776, -83},
 {1741, -165},
 {1834, -144},
 {1829, -64},
 {1776, -83}}]}},
 {RGBColor[0.011503719629322761, 0.8318653422139949, 0.8899026568711137], {Polygon[{{744, 2635},
 {744, 2635}}]}},
 {RGBColor[0.12547964809364506, 0.4027414507558782, 0.22830636237340765], {Polygon[{{2098, 1762},
 {2074, 1685},
 {2351, 1266},
 {2567, 983},
 {2670, 1044},
 {2735, 906},
 {3119, 1140},
 {3400, 1320},
 {3350, 1390},
 {3290, 1360},
 {3070, 1430},
 {3073, 1477},
 {3050, 1485},
 {2905, 1713},
 {2793, 1746},
 {2683, 1752},
 {2358, 1934},
 {2220, 1890},
 {2250, 1800},
 {2098, 1762}}]}},
 {RGBColor[0.9346102154859725, 0.8388882440932813, 0.2850414559521239], {Polygon[{{-992, 964},
 {-1052, 885},
 {-994, 815},
 {-828, 803},
 {-1005, 784},
 {-923, 770},
 {-1003, 739},
 {-823, 761},
 {-681, 748},
 {-735, 886},
 {-723, 883},
 {-803, 962},
 {-992, 963}}]}},
 {RGBColor[0.19612396266736734, 0.8195060667085997, 0.5081121859348142], {Polygon[{{1119, 2542},
 {1118, 2550},
 {1128, 2693},
 {1131, 2755},
 {1216, 2767},
 {1361, 2653},
 {1371, 2534},
 {1274, 2533},
 {1232, 2506},
 {1210, 2551},
 {1162, 2511},
 {1119, 2542}}]}},
 {RGBColor[0.025714125827671963, 0.6956522076446393, 0.7084392834822001], {Polygon[{{-798, 542},
 {-689, 416},
 {-615, 509},
 {-673, 600},
 {-798, 542}}]}},
 {RGBColor[0.5676080747372025, 0.44565763911794365, 0.6988492228723014], {Polygon[{{6239, 83},
 {6239, 83}}]}},
 {RGBColor[0.7880668781514497, 0.8480890252410388, 0.6729542035901872], {Polygon[{{1353, 2945},
 {1147, 2993},
 {1066, 2965},
 {991, 2890},
 {1030, 2881},
 {1329, 2905},
 {1353, 2945}}]}},
 {RGBColor[0.8034563743150287, 0.23724211527513525, 0.9984807860795889], {Polygon[{{839, 2730},
 {823, 2736},
 {823, 2792},
 {967, 2812},
 {992, 2796},
 {943, 2748},
 {839, 2730}}]}},
 {RGBColor[0.6614504839608644, 0.9715910321010338, 0.34733945840402153], {Polygon[{{2493, -100},
 {2877, 268},
 {3085, 627},
 {3047, 720},
 {2695, 625},
 {2597, 691},
 {2595, 689},
 {2577, 660},
 {2641, 540},
 {2879, 480},
 {2697, 294},
 {2514, 239},
 {2459, 170},
 {2493, -100}}]}},
 {RGBColor[0.8730011379859438, 0.2587090332049862, 0.7432846697276261], {Polygon[{{989, -1715},
 {1099, -2050},
 {1200, -2089},
 {1674, -1982},
 {1974, -1611},
 {1928, -1610},
 {1849, -1608},
 {1918, -1558},
 {1878, -1345},
 {1762, -1331},
 {1531, -1540},
 {1368, -1539},
 {1239, -1610},
 {1200, -1486},
 {1200, -1706},
 {989, -1715}}]}},
 {RGBColor[0.4127292429180491, 0.03411289389266248, 0.9736675772528623], {Polygon[{{1722, -1717},
 {1621, -1778},
 {1686, -1840},
 {1767, -1761},
 {1722, -1717}}]}},
 {RGBColor[0.5471607070602588, 0.5932231762094494, 0.5260007079578483], {Polygon[{{7602, 2270},
 {7591, 2057},
 {7766, 2129},
 {7702, 2317},
 {7602, 2270}}]}},
 {RGBColor[0.9479534514251904, 0.8515084994156196, 0.8847838927272493], {Polygon[{{193, 2546},
 {0, 2397},
 {-7, 2336},
 {0, 2317},
 {-128, 2204},
 {-322, 2169},
 {-445, 2231},
 {-371, 2495},
 {-525, 2518},
 {-557, 2584},
 {-474, 2627},
 {-106, 2604},
 {89, 2556},
 {105, 2550},
 {193, 2546}}]}},
 {RGBColor[0.9583926332206457, 0.5022958123072467, 0.152659276543318], {Polygon[{{4788, 456},
 {4828, 356},
 {4913, 437},
 {4795, 586},
 {4837, 567},
 {4788, 456}}]}},
 {RGBColor[0.09671701457579956, 0.11030360797960694, 0.8293416087170595], {Polygon[{{2317, 1082},
 {2214, 1322},
 {2137, 1388},
 {2036, 1305},
 {1500, 1320},
 {1500, 1200},
 {1440, 1170},
 {1440, 942},
 {1376, 933},
 {1310, 768},
 {1366, 657},
 {1373, 655},
 {1411, 523},
 {1647, 301},
 {1852, 209},
 {2040, 253},
 {2156, 277},
 {1979, 476},
 {2057, 633},
 {2169, 762},
 {2220, 1024},
 {2317, 1082}}]}},
 {RGBColor[0.34920290222828937, 0.8594748993006643, 0.11182282190001806], {Polygon[{{-3250, 321},
 {-3435, 329},
 {-3483, 240},
 {-3388, 117},
 {-3276, 140},
 {-3250, 321}}]}},
 {RGBColor[0.16789112475619514, 0.3776118701272556, 0.5121354408966428], {Polygon[{{1928, -1610},
 {1918, -1557},
 {1849, -1608},
 {1928, -1610}}]}},
 {RGBColor[0.23882168391407424, 0.9091820915512089, 0.6343272003996294], {Polygon[{{686, 3539},
 {798, 3320},
 {951, 3365},
 {971, 3518},
 {1105, 3548},
 {961, 3570},
 {1145, 3584},
 {1040, 3749},
 {1450, 3949},
 {1236, 4143},
 {728, 3815},
 {686, 3539}}]}},
 {RGBColor[0.0994061979785937, 0.20470879002141176, 0.9355145142983466], {Polygon[{{422, 2756},
 {628, 2813},
 {576, 2824},
 {572, 2837},
 {574, 2852},
 {455, 2855},
 {358, 2773},
 {422, 2756}}]}},
 {RGBColor[0.08716649333937065, 0.5061830217691443, 0.6787080820635635], {Polygon[{{2155, 2156},
 {2158, 2079},
 {2140, 1995},
 {2139, 1961},
 {2328, 2003},
 {2460, 2065},
 {2541, 2227},
 {2200, 2210},
 {2155, 2156}}]}},
 {RGBColor[0.9875610628731563, 0.23565799392375114, 0.621399129041895], {Polygon[{{7277, 1507},
 {7320, 1500},
 {7243, 1316},
 {7207, 1417},
 {7277, 1507}}]}},
 {RGBColor[0.7203154488429178, 0.4852652505659095, 0.08299871738043312], {Polygon[{{4066, 2232},
 {4093, 2282},
 {4055, 2369},
 {4175, 2438},
 {4174, 2396},
 {4291, 2354},
 {4450, 2372},
 {4494, 2234},
 {4301, 2201},
 {4257, 2308},
 {4066, 2232}}]}},
 {RGBColor[0.5246821144660954, 0.6100118408633108, 0.65592364184885], {Polygon[{{2426, -629},
 {2327, -363},
 {2352, -280},
 {2035, -60},
 {1829, -64},
 {1834, -144},
 {1765, -267},
 {1846, -491},
 {1979, -565},
 {2060, -584},
 {2098, -694},
 {2426, -629}}]}},
 {RGBColor[0.7337958151521438, 0.6652072151654311, 0.4981890189632927], {Polygon[{{6175, 698},
 {6052, 759},
 {6016, 811},
 {5949, 622},
 {6025, 430},
 {6126, 374},
 {6069, 338},
 {6008, 385},
 {5897, 493},
 {5925, 621},
 {5980, 710},
 {5891, 906},
 {5936, 983},
 {5841, 1113},
 {6005, 1221},
 {6077, 1174},
 {6055, 1054},
 {6204, 1106},
 {6283, 1050},
 {6313, 861},
 {6140, 813},
 {6175, 698}}]}},
 {RGBColor[0.4880325170926548, 0.35618394502488815, 0.15307177426878832], {Polygon[{{72, 366},
 {99, 373},
 {55, 660},
 {-10, 668},
 {0, 666},
 {-5, 642},
 {0, 636},
 {72, 366}}]}},
 {RGBColor[0.2593673350492185, 0.578850425541446, 0.7218567446252587], {Polygon[{{517, 2216},
 {663, 2225},
 {600, 2050},
 {692, 1990},
 {572, 1814},
 {450, 2033},
 {517, 2216}}]}},
 {RGBColor[0.05366557629019463, 0.054658545027806704, 0.6433359112430993], {Polygon[{{2155, 2156},
 {2161, 2216},
 {1968, 2161},
 {1781, 2167},
 {1642, 2201},
 {1700, 2222},
 {1574, 2296},
 {1630, 2307},
 {1569, 2397},
 {1777, 2471},
 {2097, 2526},
 {2492, 2491},
 {2689, 2378},
 {2688, 2230},
 {2541, 2226},
 {2200, 2210},
 {2155, 2156}}], Polygon[{{1562, 2444},
 {1571, 2403},
 {1739, 2460},
 {1681, 2519},
 {1581, 2503},
 {1562, 2444}}]}},
 {RGBColor[0.6346902512858881, 0.5474825545210503, 0.3759504629642432], {Polygon[{{3170, 2502},
 {3286, 2462},
 {3163, 2427},
 {3234, 2241},
 {3432, 2297},
 {3574, 2233},
 {3677, 2136},
 {3844, 2160},
 {3947, 2254},
 {3814, 2346},
 {3622, 2484},
 {3520, 2570},
 {3360, 2490},
 {3170, 2502}}]}},
 {RGBColor[0.6557748483699432, 0.39903225736213693, 0.9260834254791553], {Polygon[{{3073, 1477},
 {3247, 1448},
 {3382, 1583},
 {3396, 1470},
 {3350, 1390},
 {3290, 1360},
 {3070, 1430},
 {3073, 1477}}]}},
 {RGBColor[0.6556350141213255, 0.1705095978040336, 0.3160335399817038], {Polygon[{{-300, 3518},
 {-181, 3518},
 {-255, 3450},
 {-109, 3456},
 {-221, 3361},
 {0, 3226},
 {8, 3215},
 {0, 3212},
 {106, 3149},
 {23, 3087},
 {14, 3044},
 {-295, 3035},
 {-143, 3105},
 {-258, 3100},
 {-283, 3171},
 {-164, 3200},
 {-181, 3299},
 {-308, 3291},
 {-296, 3376},
 {-349, 3318},
 {-300, 3518}}], Polygon[{{-435, 3304},
 {-375, 3245},
 {-376, 3246},
 {-489, 3266},
 {-435, 3304}}]}},
 {RGBColor[0.40140131101306, 0.0456231732580147, 0.5145859559551836], {Polygon[{{-7027, 1952},
 {-7037, 1980},
 {-7237, 2074},
 {-7349, 2251},
 {-7285, 2281},
 {-7422, 2336},
 {-7451, 2520},
 {-7444, 2777},
 {-7483, 2904},
 {-7365, 2890},
 {-7384, 2827},
 {-7365, 2939},
 {-7364, 2940},
 {-7022, 2940},
 {-6962, 2940},
 {-6240, 2940},
 {-5832, 2940},
 {-5375, 2880},
 {-5048, 2792},
 {-4945, 2581},
 {-4959, 2553},
 {-4962, 2501},
 {-4735, 2575},
 {-4744, 2586},
 {-4744, 2596},
 {-4548, 2669},
 {-4401, 2701},
 {-4290, 2701},
 {-4265, 2718},
 {-4154, 2848},
 {-4032, 2711},
 {-4245, 2584},
 {-4249, 2572},
 {-4267, 2491},
 {-4268, 2490},
 {-4267, 2491},
 {-4311, 2479},
 {-4419, 2460},
 {-4455, 2431},
 {-4491, 2337},
 {-4502, 2400},
 {-4526, 2388},
 {-4502, 2307},
 {-4522, 2281},
 {-4557, 2228},
 {-4539, 2278},
 {-4574, 2311},
 {-4550, 2375},
 {-4579, 2283},
 {-4621, 2328},
 {-4624, 2334},
 {-4628, 2290},
 {-4576, 2225},
 {-4637, 2239},
 {-4551, 2193},
 {-4531, 2147},
 {-4556, 2203},
 {-4604, 2157},
 {-4545, 2137},
 {-4623, 2132},
 {-4580, 2093},
 {-4713, 2032},
 {-4853, 1921},
 {-4890, 1843},
 {-4802, 1607},
 {-4865, 1507},
 {-5021, 1795},
 {-5251, 1817},
 {-5304, 1823},
 {-5371, 1811},
 {-5426, 1809},
 {-5362, 1803},
 {-5365, 1736},
 {-5628, 1800},
 {-5627, 1799},
 {-5851, 1672},
 {-5828, 1558},
 {-5945, 1584},
 {-6050, 1757},
 {-6243, 1760},
 {-6391, 1907},
 {-6543, 1880},
 {-6883, 1963},
 {-7027, 1952}}], Polygon[{{-7800, 3355},
 {-7841, 3286},
 {-7861, 3366},
 {-7936, 3345},
 {-8120, 3568},
 {-8109, 3492},
 {-8370, 3603},
 {-8863, 3677},
 {-8979, 3591},
 {-9119, 3557},
 {-8955, 3690},
 {-9207, 3523},
 {-9506, 3360},
 {-9800, 3288},
 {-9444, 3450},
 {-9407, 3549},
 {-9609, 3533},
 {-9730, 3519},
 {-9713, 3642},
 {-9820, 3588},
 {-9813, 3654},
 {-9901, 3687},
 {-9972, 3695},
 {-9865, 3793},
 {-9669, 3811},
 {-9659, 3896},
 {-10088, 3939},
 {-9857, 3996},
 {-9708, 3959},
 {-9749, 4017},
 {-9614, 3984},
 {-10010, 4101},
 {-9704, 4212},
 {-9388, 4284},
 {-8461, 4179},
 {-8460, 3618},
 {-8128, 3588},
 {-7801, 3355}}], Polygon[{{-9349, 1216},
 {-9288, 1172},
 {-9340, 1135},
 {-9349, 1216}}], Polygon[{{-9196, 3480},
 {-9140, 3446},
 {-9288, 3441},
 {-9196, 3480}}]}},
 {RGBColor[0.58223772482956, 0.7361940958476288, 0.547434154294722], {Polygon[{{1852, 209},
 {1878, 127},
 {1776, -83},
 {1829, -64},
 {2035, -60},
 {2102, 115},
 {2040, 253},
 {1852, 209}}]}},
 {RGBColor[0.02655343886252877, 0.22605377980467187, 0.5831223215788406], {Polygon[{{1416, 3092},
 {1640, 3095},
 {1898, 3124},
 {2033, 3101},
 {2374, 2971},
 {2396, 2867},
 {2296, 2827},
 {2222, 2812},
 {2089, 2771},
 {2182, 2702},
 {2018, 2666},
 {1949, 2724},
 {2026, 2756},
 {1908, 2777},
 {1905, 2835},
 {1780, 2713},
 {1690, 2728},
 {1778, 2811},
 {1697, 2889},
 {1600, 2895},
 {1374, 2877},
 {1329, 2905},
 {1353, 2945},
 {1416, 3092}}]}},
 {RGBColor[0.2880668192455035, 0.4477030133210828, 0.5041970351794132], {Polygon[{{-3202, -2025},
 {-3470, -2070},
 {-3492, -1947},
 {-3458, -1814},
 {-3225, -1923},
 {-3202, -2025}}]}},
 {RGBColor[0.529456745288646, 0.2334082742176968, 0.8043671020779835], {Polygon[{{3360, 2490},
 {3360, 2700},
 {3520, 2730},
 {3730, 2610},
 {4075, 2477},
 {4170, 2480},
 {4261, 2538},
 {4274, 2467},
 {4380, 2456},
 {4174, 2396},
 {4175, 2438},
 {4055, 2369},
 {4093, 2282},
 {4066, 2232},
 {3947, 2254},
 {3814, 2346},
 {3622, 2484},
 {3520, 2570},
 {3360, 2490}}]}},
 {RGBColor[0.8695067838935251, 0.9819741907675956, 0.8574578112534536], {Polygon[{{-3599, 512},
 {-3697, 514},
 {-3651, 566},
 {-3781, 606},
 {-3711, 645},
 {-3905, 602},
 {-4098, 641},
 {-4201, 732},
 {-4188, 686},
 {-4295, 648},
 {-4298, 543},
 {-4279, 711},
 {-4403, 551},
 {-4320, 421},
 {-4047, 372},
 {-4071, 167},
 {-4012, 73},
 {-3804, 129},
 {-3888, 257},
 {-3773, 214},
 {-3691, 256},
 {-3644, 312},
 {-3683, 357},
 {-3599, 512}}]}},
 {RGBColor[0.14859225370804038, 0.47047452653138816, 0.05589076528844021], {Polygon[{{6267, 622},
 {6291, 514},
 {6349, 600},
 {6393, 575},
 {6555, 703},
 {6537, 915},
 {6395, 1054},
 {6347, 1176},
 {6479, 1293},
 {6487, 1287},
 {6331, 1391},
 {6128, 1344},
 {6190, 1251},
 {6279, 1240},
 {6233, 1158},
 {6448, 965},
 {6453, 882},
 {6453, 741},
 {6351, 700},
 {6267, 622}}]}},
 {RGBColor[0.20182279713212806, 0.9780826559040068, 0.15444098654968436], {Polygon[{{-791, 1660},
 {-1023, 1246},
 {-780, 1280},
 {-786, 1374},
 {-720, 1560},
 {-520, 1560},
 {-520, 1638},
 {-520, 1660},
 {-791, 1660}}]}},
 {RGBColor[0.6544894542753803, 0.15619962387411335, 0.4634966999488232], {Polygon[{{2670, 1044},
 {2567, 984},
 {2613, 762},
 {2922, 842},
 {3185, 998},
 {3119, 1140},
 {2735, 906},
 {2670, 1044}}]}},
 {RGBColor[0.5722032617201243, 0.9182953584277513, 0.6087654695793914], {Polygon[{{791, -352},
 {732, -347},
 {786, -278},
 {954, -235},
 {1118, 209},
 {1152, 298},
 {1340, 248},
 {1647, 301},
 {1852, 209},
 {1878, 127},
 {1776, -83},
 {1742, -164},
 {1765, -267},
 {1846, -491},
 {1702, -556},
 {1702, -693},
 {1788, -729},
 {1788, -807},
 {1632, -694},
 {1439, -652},
 {1330, -652},
 {1307, -437},
 {1080, -486},
 {1019, -435},
 {991, -353},
 {791, -352}}]}},
 {RGBColor[0.4369432610862944, 0.3461494819154524, 0.3351730368489108], {Polygon[{{1846, -491},
 {1702, -556},
 {1702, -693},
 {1788, -729},
 {1788, -807},
 {1632, -694},
 {1439, -652},
 {1441, -780},
 {1320, -780},
 {1320, -970},
 {1409, -1058},
 {1516, -1068},
 {1629, -1068},
 {1825, -938},
 {1993, -841},
 {1979, -569},
 {1979, -565},
 {1846, -492}}]}},
 {RGBColor[0.3206986503338879, 0.9892402477652116, 0.8419524467360393], {Polygon[{{1878, -1345},
 {1762, -1331},
 {1516, -1068},
 {1629, -1068},
 {1825, -938},
 {1979, -1003},
 {1982, -1202},
 {1878, -1345}}]}}}},
 {Thickness[0.001], Line[{{10800, 5400},
 {10800, 5400},
 {10800, 5184},
 {10800, 4968},
 {10800, 4752},
 {10800, 4536},
 {10800, 4320},
 {10800, 4104},
 {10800, 3888},
 {10800, 3672},
 {10800, 3456},
 {10800, 3240},
 {10800, 3024},
 {10800, 2808},
 {10800, 2592},
 {10800, 2376},
 {10800, 2160},
 {10800, 1944},
 {10800, 1728},
 {10800, 1512},
 {10800, 1296},
 {10800, 1080},
 {10800, 864},
 {10800, 648},
 {10800, 432},
 {10800, 216},
 {10800, 0},
 {10800, -216},
 {10800, -432},
 {10800, -648},
 {10800, -864},
 {10800, -1080},
 {10800, -1296},
 {10800, -1512},
 {10800, -1728},
 {10800, -1944},
 {10800, -2160},
 {10800, -2376},
 {10800, -2592},
 {10800, -2808},
 {10800, -3024},
 {10800, -3240},
 {10800, -3456},
 {10800, -3672},
 {10800, -3888},
 {10800, -4104},
 {10800, -4320},
 {10800, -4536},
 {10800, -4752},
 {10800, -4968},
 {10800, -5184},
 {10800, -5400}}], Line[{{10800, -5400},
 {10800, -5400},
 {10584, -5400},
 {10368, -5400},
 {10152, -5400},
 {9936, -5400},
 {9720, -5400},
 {9504, -5400},
 {9288, -5400},
 {9072, -5400},
 {8856, -5400},
 {8640, -5400},
 {8424, -5400},
 {8208, -5400},
 {7992, -5400},
 {7776, -5400},
 {7560, -5400},
 {7344, -5400},
 {7128, -5400},
 {6912, -5400},
 {6696, -5400},
 {6480, -5400},
 {6264, -5400},
 {6048, -5400},
 {5832, -5400},
 {5616, -5400},
 {5400, -5400},
 {5184, -5400},
 {4968, -5400},
 {4752, -5400},
 {4536, -5400},
 {4320, -5400},
 {4104, -5400},
 {3888, -5400},
 {3672, -5400},
 {3456, -5400},
 {3240, -5400},
 {3024, -5400},
 {2808, -5400},
 {2592, -5400},
 {2376, -5400},
 {2160, -5400},
 {1944, -5400},
 {1728, -5400},
 {1512, -5400},
 {1296, -5400},
 {1080, -5400},
 {864, -5400},
 {648, -5400},
 {432, -5400},
 {216, -5400},
 {0, -5400},
 {-216, -5400},
 {-432, -5400},
 {-648, -5400},
 {-864, -5400},
 {-1080, -5400},
 {-1296, -5400},
 {-1512, -5400},
 {-1728, -5400},
 {-1944, -5400},
 {-2160, -5400},
 {-2376, -5400},
 {-2592, -5400},
 {-2808, -5400},
 {-3024, -5400},
 {-3240, -5400},
 {-3456, -5400},
 {-3672, -5400},
 {-3888, -5400},
 {-4104, -5400},
 {-4320, -5400},
 {-4536, -5400},
 {-4752, -5400},
 {-4968, -5400},
 {-5184, -5400},
 {-5400, -5400},
 {-5616, -5400},
 {-5832, -5400},
 {-6048, -5400},
 {-6264, -5400},
 {-6480, -5400},
 {-6696, -5400},
 {-6912, -5400},
 {-7128, -5400},
 {-7344, -5400},
 {-7560, -5400},
 {-7776, -5400},
 {-7992, -5400},
 {-8208, -5400},
 {-8424, -5400},
 {-8640, -5400},
 {-8856, -5400},
 {-9072, -5400},
 {-9288, -5400},
 {-9504, -5400},
 {-9720, -5400},
 {-9936, -5400},
 {-10152, -5400},
 {-10368, -5400},
 {-10584, -5400},
 {-10800, -5400}}], Line[{{-10800, -5400},
 {-10800, -5184},
 {-10800, -4968},
 {-10800, -4752},
 {-10800, -4536},
 {-10800, -4320},
 {-10800, -4104},
 {-10800, -3888},
 {-10800, -3672},
 {-10800, -3456},
 {-10800, -3240},
 {-10800, -3024},
 {-10800, -2808},
 {-10800, -2592},
 {-10800, -2376},
 {-10800, -2160},
 {-10800, -1944},
 {-10800, -1728},
 {-10800, -1512},
 {-10800, -1296},
 {-10800, -1080},
 {-10800, -864},
 {-10800, -648},
 {-10800, -432},
 {-10800, -216},
 {-10800, 0},
 {-10800, 216},
 {-10800, 432},
 {-10800, 648},
 {-10800, 864},
 {-10800, 1080},
 {-10800, 1296},
 {-10800, 1512},
 {-10800, 1728},
 {-10800, 1944},
 {-10800, 2160},
 {-10800, 2376},
 {-10800, 2592},
 {-10800, 2808},
 {-10800, 3024},
 {-10800, 3240},
 {-10800, 3456},
 {-10800, 3672},
 {-10800, 3888},
 {-10800, 4104},
 {-10800, 4320},
 {-10800, 4536},
 {-10800, 4752},
 {-10800, 4968},
 {-10800, 5184},
 {-10800, 5400},
 {-10800, 5400}}], Line[{{-10800, 5400},
 {-10584, 5400},
 {-10368, 5400},
 {-10152, 5400},
 {-9936, 5400},
 {-9720, 5400},
 {-9504, 5400},
 {-9288, 5400},
 {-9072, 5400},
 {-8856, 5400},
 {-8640, 5400},
 {-8424, 5400},
 {-8208, 5400},
 {-7992, 5400},
 {-7776, 5400},
 {-7560, 5400},
 {-7344, 5400},
 {-7128, 5400},
 {-6912, 5400},
 {-6696, 5400},
 {-6480, 5400},
 {-6264, 5400},
 {-6048, 5400},
 {-5832, 5400},
 {-5616, 5400},
 {-5400, 5400},
 {-5184, 5400},
 {-4968, 5400},
 {-4752, 5400},
 {-4536, 5400},
 {-4320, 5400},
 {-4104, 5400},
 {-3888, 5400},
 {-3672, 5400},
 {-3456, 5400},
 {-3240, 5400},
 {-3024, 5400},
 {-2808, 5400},
 {-2592, 5400},
 {-2376, 5400},
 {-2160, 5400},
 {-1944, 5400},
 {-1728, 5400},
 {-1512, 5400},
 {-1296, 5400},
 {-1080, 5400},
 {-864, 5400},
 {-648, 5400},
 {-432, 5400},
 {-216, 5400},
 {0, 5400},
 {216, 5400},
 {432, 5400},
 {648, 5400},
 {864, 5400},
 {1080, 5400},
 {1296, 5400},
 {1512, 5400},
 {1728, 5400},
 {1944, 5400},
 {2160, 5400},
 {2376, 5400},
 {2592, 5400},
 {2808, 5400},
 {3024, 5400},
 {3240, 5400},
 {3456, 5400},
 {3672, 5400},
 {3888, 5400},
 {4104, 5400},
 {4320, 5400},
 {4536, 5400},
 {4752, 5400},
 {4968, 5400},
 {5184, 5400},
 {5400, 5400},
 {5616, 5400},
 {5832, 5400},
 {6048, 5400},
 {6264, 5400},
 {6480, 5400},
 {6696, 5400},
 {6912, 5400},
 {7128, 5400},
 {7344, 5400},
 {7560, 5400},
 {7776, 5400},
 {7992, 5400},
 {8208, 5400},
 {8424, 5400},
 {8640, 5400},
 {8856, 5400},
 {9072, 5400},
 {9288, 5400},
 {9504, 5400},
 {9720, 5400},
 {9936, 5400},
 {10152, 5400},
 {10368, 5400},
 {10584, 5400},
 {10800, 5400},
 {10800, 5400}}]}},
 {AspectRatio -> Automatic}]"
</APPLET>
</p>
</body>
</html>