<html>

<head>
<title>JavaView Lite</title>
</head>

<body>

<h2>Lite Version of JavaView</h2>
<blockquote>
  <P>Test the lite version of  
  <STRONG><EM><FONT color=#004080>JavaView</FONT></EM></STRONG>.
  Before <STRONG><EM><FONT 
  color=#004080>JavaView Lite</FONT></EM></STRONG>
  is able to run, a small compressed library of
  about 70kb is automatically downloaded. Rotate geometry by moving mouse 
  inside viewer window and drag while left mouse button pressed.</P>

  <p><APPLET name="jvLite" code="jvLite.class"
      width="400" height="300"
      alt="JavaView lite applet"
      archive="jars/jvLite.jar" id=Applet1>
		<PARAM NAME="model"                  VALUE="sample.obj">
		</APPLET>
      </p>

		<P>Here is another applet which reads a Mathematica graphics geometry from applet parameter.
  Additionally, the applet tag shows how to enable/disable popup menu items.</P>

  <p><APPLET name="jvLite" code="jvLite.class"
      width="400" height="300"
      alt="JavaView lite applet"
      archive="jars/jvLite.jar" id=Applet2>
		<PARAM NAME="Menu_Popup_Rotate"      VALUE="show">
		<PARAM NAME="Menu_Popup_RotateXY"    VALUE="show">
		<PARAM NAME="Menu_Popup_Scale"       VALUE="show">
		<PARAM NAME="Menu_Popup_Translate"   VALUE="show">
		<PARAM NAME="Menu_Popup_PickVertex"  VALUE="show">
		<PARAM NAME="Menu_Popup_NewDisplay"  VALUE="hide">
		<PARAM NAME="Menu_Popup_Help"        VALUE="show">
		<PARAM NAME="Axes"                   VALUE="show">
		<PARAM NAME="mathematica"            VALUE="
Graphics3D[{{Polygon[{{0, 0, 1.7013016167040795},
 {0.5257311121191336, 0.3819660112501051, 0.8506508083520399},
 {-0.20081141588622764, 0.6180339887498949, 0.8506508083520399}}], Polygon[{{0, 0, 1.7013016167040795},
 {-0.20081141588622764, 0.6180339887498949, 0.8506508083520399},
 {-0.6498393924658126, 0, 0.8506508083520399}}], Polygon[{{0, 0, 1.7013016167040795},
 {-0.6498393924658126, 0, 0.8506508083520399},
 {-0.20081141588622764, -0.6180339887498949, 0.8506508083520399}}], Polygon[{{0, 0, 1.7013016167040795},
 {-0.20081141588622764, -0.6180339887498949, 0.8506508083520399},
 {0.5257311121191336, -0.3819660112501051, 0.8506508083520399}}], Polygon[{{0, 0, 1.7013016167040795},
 {0.5257311121191336, -0.3819660112501051, 0.8506508083520399},
 {0.5257311121191336, 0.3819660112501051, 0.8506508083520399}}]},
 {Polygon[{{1.5216904260722457, 0, 0.760845213036123},
 {0.5257311121191336, 0.3819660112501051, 0.8506508083520399},
 {0.5257311121191336, -0.3819660112501051, 0.8506508083520399}}], Polygon[{{1.5216904260722457, 0, 0.760845213036123},
 {0.5257311121191336, -0.3819660112501051, 0.8506508083520399},
 {0.8506508083520399, -0.6180339887498949, 0.20081141588622764}}], Polygon[{{1.5216904260722457, 0, 0.760845213036123},
 {0.8506508083520399, -0.6180339887498949, 0.20081141588622764},
 {1.0514622242382672, 0, -0.20081141588622764}}], Polygon[{{1.5216904260722457, 0, 0.760845213036123},
 {1.0514622242382672, 0, -0.20081141588622764},
 {0.8506508083520399, 0.6180339887498949, 0.20081141588622764}}], Polygon[{{1.5216904260722457, 0, 0.760845213036123},
 {0.8506508083520399, 0.6180339887498949, 0.20081141588622764},
 {0.5257311121191336, 0.3819660112501051, 0.8506508083520399}}]},
 {Polygon[{{0.47022820183397834, 1.4472135954999579, 0.760845213036123},
 {0.5257311121191336, 0.3819660112501051, 0.8506508083520399},
 {0.8506508083520399, 0.6180339887498949, 0.20081141588622764}}], Polygon[{{0.47022820183397834, 1.4472135954999579, 0.760845213036123},
 {0.8506508083520399, 0.6180339887498949, 0.20081141588622764},
 {0.3249196962329063, 1., -0.20081141588622764}}], Polygon[{{0.47022820183397834, 1.4472135954999579, 0.760845213036123},
 {0.3249196962329063, 1., -0.20081141588622764},
 {-0.3249196962329063, 1., 0.20081141588622764}}], Polygon[{{0.47022820183397834, 1.4472135954999579, 0.760845213036123},
 {-0.3249196962329063, 1., 0.20081141588622764},
 {-0.20081141588622764, 0.6180339887498949, 0.8506508083520399}}], Polygon[{{0.47022820183397834, 1.4472135954999579, 0.760845213036123},
 {-0.20081141588622764, 0.6180339887498949, 0.8506508083520399},
 {0.5257311121191336, 0.3819660112501051, 0.8506508083520399}}]},
 {Polygon[{{-1.2310734148701017, 0.894427190999916, 0.760845213036123},
 {-0.20081141588622764, 0.6180339887498949, 0.8506508083520399},
 {-0.3249196962329063, 1., 0.20081141588622764}}], Polygon[{{-1.2310734148701017, 0.894427190999916, 0.760845213036123},
 {-0.3249196962329063, 1., 0.20081141588622764},
 {-0.8506508083520399, 0.6180339887498949, -0.20081141588622764}}], Polygon[{{-1.2310734148701017, 0.894427190999916, 0.760845213036123},
 {-0.8506508083520399, 0.6180339887498949, -0.20081141588622764},
 {-1.0514622242382672, 0, 0.20081141588622764}}], Polygon[{{-1.2310734148701017, 0.894427190999916, 0.760845213036123},
 {-1.0514622242382672, 0, 0.20081141588622764},
 {-0.6498393924658126, 0, 0.8506508083520399}}], Polygon[{{-1.2310734148701017, 0.894427190999916, 0.760845213036123},
 {-0.6498393924658126, 0, 0.8506508083520399},
 {-0.20081141588622764, 0.6180339887498949, 0.8506508083520399}}]},
 {Polygon[{{-1.2310734148701015, -0.894427190999916, 0.760845213036123},
 {-0.6498393924658126, 0, 0.8506508083520399},
 {-1.0514622242382672, 0, 0.20081141588622764}}], Polygon[{{-1.2310734148701015, -0.894427190999916, 0.760845213036123},
 {-1.0514622242382672, 0, 0.20081141588622764},
 {-0.8506508083520399, -0.6180339887498949, -0.20081141588622764}}], Polygon[{{-1.2310734148701015, -0.894427190999916, 0.760845213036123},
 {-0.8506508083520399, -0.6180339887498949, -0.20081141588622764},
 {-0.3249196962329063, -1., 0.20081141588622764}}], Polygon[{{-1.2310734148701015, -0.894427190999916, 0.760845213036123},
 {-0.3249196962329063, -1., 0.20081141588622764},
 {-0.20081141588622764, -0.6180339887498949, 0.8506508083520399}}], Polygon[{{-1.2310734148701015, -0.894427190999916, 0.760845213036123},
 {-0.20081141588622764, -0.6180339887498949, 0.8506508083520399},
 {-0.6498393924658126, 0, 0.8506508083520399}}]},
 {Polygon[{{0.47022820183397834, -1.4472135954999579, 0.760845213036123},
 {-0.20081141588622764, -0.6180339887498949, 0.8506508083520399},
 {0.5257311121191336, -0.3819660112501051, 0.8506508083520399}}], Polygon[{{0.47022820183397834, -1.4472135954999579, 0.760845213036123},
 {0.5257311121191336, -0.3819660112501051, 0.8506508083520399},
 {0.8506508083520399, -0.6180339887498949, 0.20081141588622764}}], Polygon[{{0.47022820183397834, -1.4472135954999579, 0.760845213036123},
 {0.8506508083520399, -0.6180339887498949, 0.20081141588622764},
 {0.3249196962329063, -1., -0.20081141588622764}}], Polygon[{{0.47022820183397834, -1.4472135954999579, 0.760845213036123},
 {0.3249196962329063, -1., -0.20081141588622764},
 {-0.3249196962329063, -1., 0.20081141588622764}}], Polygon[{{0.47022820183397834, -1.4472135954999579, 0.760845213036123},
 {-0.3249196962329063, -1., 0.20081141588622764},
 {-0.20081141588622764, -0.6180339887498949, 0.8506508083520399}}]},
 {Polygon[{{1.2310734148701015, 0.894427190999916, -0.760845213036123},
 {0.8506508083520399, 0.6180339887498949, 0.20081141588622764},
 {1.0514622242382672, 0, -0.20081141588622764}}], Polygon[{{1.2310734148701015, 0.894427190999916, -0.760845213036123},
 {1.0514622242382672, 0, -0.20081141588622764},
 {0.6498393924658126, 0, -0.8506508083520399}}], Polygon[{{1.2310734148701015, 0.894427190999916, -0.760845213036123},
 {0.6498393924658126, 0, -0.8506508083520399},
 {0.20081141588622764, 0.6180339887498949, -0.8506508083520399}}], Polygon[{{1.2310734148701015, 0.894427190999916, -0.760845213036123},
 {0.20081141588622764, 0.6180339887498949, -0.8506508083520399},
 {0.3249196962329063, 1., -0.20081141588622764}}], Polygon[{{1.2310734148701015, 0.894427190999916, -0.760845213036123},
 {0.3249196962329063, 1., -0.20081141588622764},
 {0.8506508083520399, 0.6180339887498949, 0.20081141588622764}}]},
 {Polygon[{{-0.47022820183397834, 1.4472135954999579, -0.760845213036123},
 {-0.3249196962329063, 1., 0.20081141588622764},
 {0.3249196962329063, 1., -0.20081141588622764}}], Polygon[{{-0.47022820183397834, 1.4472135954999579, -0.760845213036123},
 {0.3249196962329063, 1., -0.20081141588622764},
 {0.20081141588622764, 0.6180339887498949, -0.8506508083520399}}], Polygon[{{-0.47022820183397834, 1.4472135954999579, -0.760845213036123},
 {0.20081141588622764, 0.6180339887498949, -0.8506508083520399},
 {-0.5257311121191336, 0.3819660112501051, -0.8506508083520399}}], Polygon[{{-0.47022820183397834, 1.4472135954999579, -0.760845213036123},
 {-0.5257311121191336, 0.3819660112501051, -0.8506508083520399},
 {-0.8506508083520399, 0.6180339887498949, -0.20081141588622764}}], Polygon[{{-0.47022820183397834, 1.4472135954999579, -0.760845213036123},
 {-0.8506508083520399, 0.6180339887498949, -0.20081141588622764},
 {-0.3249196962329063, 1., 0.20081141588622764}}]},
 {Polygon[{{-1.5216904260722457, 0, -0.760845213036123},
 {-1.0514622242382672, 0, 0.20081141588622764},
 {-0.8506508083520399, 0.6180339887498949, -0.20081141588622764}}], Polygon[{{-1.5216904260722457, 0, -0.760845213036123},
 {-0.8506508083520399, 0.6180339887498949, -0.20081141588622764},
 {-0.5257311121191336, 0.3819660112501051, -0.8506508083520399}}], Polygon[{{-1.5216904260722457, 0, -0.760845213036123},
 {-0.5257311121191336, 0.3819660112501051, -0.8506508083520399},
 {-0.5257311121191336, -0.3819660112501051, -0.8506508083520399}}], Polygon[{{-1.5216904260722457, 0, -0.760845213036123},
 {-0.5257311121191336, -0.3819660112501051, -0.8506508083520399},
 {-0.8506508083520399, -0.6180339887498949, -0.20081141588622764}}], Polygon[{{-1.5216904260722457, 0, -0.760845213036123},
 {-0.8506508083520399, -0.6180339887498949, -0.20081141588622764},
 {-1.0514622242382672, 0, 0.20081141588622764}}]},
 {Polygon[{{-0.47022820183397834, -1.4472135954999579, -0.760845213036123},
 {-0.3249196962329063, -1., 0.20081141588622764},
 {-0.8506508083520399, -0.6180339887498949, -0.20081141588622764}}], Polygon[{{-0.47022820183397834, -1.4472135954999579, -0.760845213036123},
 {-0.8506508083520399, -0.6180339887498949, -0.20081141588622764},
 {-0.5257311121191336, -0.3819660112501051, -0.8506508083520399}}], Polygon[{{-0.47022820183397834, -1.4472135954999579, -0.760845213036123},
 {-0.5257311121191336, -0.3819660112501051, -0.8506508083520399},
 {0.20081141588622764, -0.6180339887498949, -0.8506508083520399}}], Polygon[{{-0.47022820183397834, -1.4472135954999579, -0.760845213036123},
 {0.20081141588622764, -0.6180339887498949, -0.8506508083520399},
 {0.3249196962329063, -1., -0.20081141588622764}}], Polygon[{{-0.47022820183397834, -1.4472135954999579, -0.760845213036123},
 {0.3249196962329063, -1., -0.20081141588622764},
 {-0.3249196962329063, -1., 0.20081141588622764}}]},
 {Polygon[{{1.2310734148701012, -0.894427190999916, -0.760845213036123},
 {0.8506508083520399, -0.6180339887498949, 0.20081141588622764},
 {0.3249196962329063, -1., -0.20081141588622764}}], Polygon[{{1.2310734148701012, -0.894427190999916, -0.760845213036123},
 {0.3249196962329063, -1., -0.20081141588622764},
 {0.20081141588622764, -0.6180339887498949, -0.8506508083520399}}], Polygon[{{1.2310734148701012, -0.894427190999916, -0.760845213036123},
 {0.20081141588622764, -0.6180339887498949, -0.8506508083520399},
 {0.6498393924658126, 0, -0.8506508083520399}}], Polygon[{{1.2310734148701012, -0.894427190999916, -0.760845213036123},
 {0.6498393924658126, 0, -0.8506508083520399},
 {1.0514622242382672, 0, -0.20081141588622764}}], Polygon[{{1.2310734148701012, -0.894427190999916, -0.760845213036123},
 {1.0514622242382672, 0, -0.20081141588622764},
 {0.8506508083520399, -0.6180339887498949, 0.20081141588622764}}]},
 {Polygon[{{0, 0, -1.7013016167040795},
 {0.20081141588622764, 0.6180339887498949, -0.8506508083520399},
 {0.6498393924658126, 0, -0.8506508083520399}}], Polygon[{{0, 0, -1.7013016167040795},
 {0.6498393924658126, 0, -0.8506508083520399},
 {0.20081141588622764, -0.6180339887498949, -0.8506508083520399}}], Polygon[{{0, 0, -1.7013016167040795},
 {0.20081141588622764, -0.6180339887498949, -0.8506508083520399},
 {-0.5257311121191336, -0.3819660112501051, -0.8506508083520399}}], Polygon[{{0, 0, -1.7013016167040795},
 {-0.5257311121191336, -0.3819660112501051, -0.8506508083520399},
 {-0.5257311121191336, 0.3819660112501051, -0.8506508083520399}}], Polygon[{{0, 0, -1.7013016167040795},
 {-0.5257311121191336, 0.3819660112501051, -0.8506508083520399},
 {0.20081141588622764, 0.6180339887498949, -0.8506508083520399}}]}},
 {AmbientLight -> GrayLevel[0], AspectRatio -> Automatic, Axes -> False, AxesEdge -> Automatic, AxesLabel -> None, AxesStyle -> Automatic, Background -> Automatic, Boxed -> True, BoxRatios -> Automatic, BoxStyle -> Automatic, ColorOutput -> Automatic, DefaultColor -> Automatic, Epilog -> {},
 FaceGrids -> None, ImageSize -> Automatic, Lighting -> True, LightSources -> {{{1., 0, 1.},
 RGBColor[1, 0, 0]},
 {{1., 1., 1.},
 RGBColor[0, 1, 0]},
 {{0, 1., 1.},
 RGBColor[0, 0, 1]}},
 Plot3Matrix -> Automatic, PlotLabel -> None, PlotRange -> All, PlotRegion -> Automatic, PolygonIntersections -> True, Prolog -> {},
 RenderAll -> True, Shading -> True, SphericalRegion -> False, Ticks -> Automatic, ViewCenter -> Automatic, ViewPoint -> {1.3, -2.4, 2.},
 ViewVertical -> {0, 0, 1.},
 DefaultFont :> $DefaultFont, DisplayFunction :> $DisplayFunction, FormatType :> $FormatType, TextStyle :> $TextStyle}]
 ">
		</APPLET>
      </p>

		<p>Press right mouse button to select major interaction mode from popup menu,
   or use keyboard keys to temporarily switch between different modes (just keep
   a button pressed to switch mode temporarily). Some essential modes are:</p>
   <table border="0" cellspacing="1" cellpadding="1" width="90%">
      <tr>
         <td width="16%" valign="center">o</td>
         <td width="84%" valign="center">Rotate surface (this <font
            color="#008000">O</font>rbit mode is the default mode)</td>
      </tr>
      <tr>
         <td width="16%" valign="center">s</td>
         <td width="84%" valign="center"><font color="#008000">S</font>cale
            surface, drag in vertical direction</td>
      </tr>
      <tr>
         <td width="16%" valign="center">t</td>
         <td width="84%" valign="center"><font color="#008000">T</font>ranslate
            surface in viewing plane</td>
      </tr>
      <tr>
         <td width="16%" valign="center">r</td>
         <td width="84%" valign="center"><font color="#008000">R</font>eset
            camera and display, object returns to default position</td>
      </tr>
      <tr>
         <td width="16%" valign="center">f</td>
         <td width="84%" valign="center"><font color="#008000">F</font>ocus
            geometry to center and fill display</td>
      </tr>
      <tr>
         <td width="16%" valign="center"></td>
         <td width="84%" valign="center"></td>
      </tr>
      <tr>
         <td width="16%" valign="center">
        <P>F1 or Ctrl-s<BR>or<BR>Right-Mouse</P>  </td>
         <td width="84%" valign="center">Show control window</td>
      </tr>
      <tr>
         <td width="16%" valign="center"><A href="jars/help.html">Help</A></td>
         <td width="84%">With all keyboard shortcuts, and help on problems.</td>
      </tr>
   </table>

   <p>Note: JavaView Lite does not have a control panel or any other dialog.
   Its functionality is restricted in order to have fastest download and
   startup times.</p>
</blockquote>
&nbsp;

<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>  
  <TR>
    <TD>
      <P align=center>
		<NOBR><SMALL>&copy; 1999-2014&nbsp;Last modified: 03.03.2014&nbsp;---
		<A href="http://www.javaview.de" target=_top>http://www.javaview.de</A> --- The JavaView Project</SMALL></NOBR> 
		</P>
	  </TD>
	</TR>
</TABLE>

</body>
</html>
